.collection-book-list-page
  - if @collection.has_audiobook_counterpart?
    .audiobook-switcher
      %span Books |&nbsp;
      = link_to 'Audiobooks', seo_url(@collection.audiobook_collection_slug)
      .tooltip
        View this collection as audiobooks. Available as MP3 downloads.

  <!-- le title -->
  .row.title
    .span11.columns
      %h1="#{@collection.name} Books"

  <!--le google adsense -->
  .row
    .span11.columns
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-7773516323337861";
      /* Collection Page 300&#42;250 */
      google_ad_slot = "4482754705";
      google_ad_width = 300;
      google_ad_height = 250;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>

  <!-- le "Quotes" and "books" buttons-->
  .row.quotes-and-books-buttons
    .span10.columns
      = link_to "#{@collection.name}'s Biography", "/#{@collection.cached_slug}", :class => 'btn'
      = link_to "#{@collection.name}'s Quotes", "/#{@collection.cached_slug}/quotes", :class => 'btn'

  .row.quote-section-title
    .span11.columns
      %h2= "#{@collection.name} Books"

  %ul.book-list
    = render :partial => '/books/listed_book', :locals => {:enable_rating => true},:collection => @books, :as => :book

  .clear

  = paginate @books
  
  = javascript_include_tag 'ratings-book-list-view'