= content_for :drawer do
  = render :partial => '/shared/connect_with_facebook_bar', :locals => {:fixed_bar => true}

#collection-book-list-page.row
  .span12.columns
  
    .row.audiobook-switcher
      .span12.columns

    <!-- le title -->
    .row
      .span11.columns
        %h1= "#{@collection.name} Audiobooks"

    <!--le google adsense -->
    .row
      .span11.columns
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-7773516323337861";
        /* Collection Page 300&#42;250 */
        google_ad_slot = "4482754705";
        google_ad_width = 300;
        google_ad_height = 250;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>

    <!-- le "Quotes" and "books" buttons-->
    .row.quotes-and-books-buttons
      .span10.columns
        = link_to_collection_index_page(@collection)
        = link_to "#{@collection.name}'s Quotes", "/#{@collection.cached_slug}/quotes", :class => 'btn' if @collection.is_author_collection?

    .row.quote-section-title
      .span11.columns
        %h1= "#{@collection.name} Audiobooks"
    
    .sorting.row
      .span11.columns
        %span Sort By:
        = link_to_sorted 'Most Downloaded', 'downloaded_count', @collection, params
        = link_to_sorted 'Title', 'pretty_title', @collection, params

    .row
      .span12.columns
        %ul.book-list.audiobooks
          = render :partial => '/audiobooks/listed_audio_book', :locals => {:enable_rating => true},:collection => @audiobooks, :as => :audiobook


    = paginate @audiobooks
  
  = javascript_include_tag 'ratings-book-list-view'