.quote-list-page
  <!-- le title -->
  .row
    .span9.columns
      %h1= "#{@collection.name} Quotes"

  <!--le google adsense -->
  .row
    .span11.columns
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-7773516323337861";
      /* Collection Page 300&#42;250 */
      google_ad_slot = "4482754705";
      google_ad_width = 300;
      google_ad_height = 250;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>

  <!-- le "Quotes" and "books" buttons-->
  .row.quotes-and-books-buttons
    .span10.columns
      = link_to "#{@collection.name}'s Biography", "/#{@collection.cached_slug}", :class => 'btn'
      = link_to "#{@collection.name}'s Books", "/#{@collection.cached_slug}/books", :class => 'btn'

  .row.quote-section-title
    .span11.columns
      %h2= "#{@collection.name} Quotes"

  .row
    .span11.columns
      - for quote in @quotes
        .quote.row
          .span11.columns
            &quot;
            = link_to quote.content, quote_path(quote)
            &quot;
        .row
          .separator.span11.columns

    = paginate @quotes
