- content_for :title do
  %title=@collection.web_title
- content_for :head do
  = fb_open_graph_metadata({:url => seo_url(@collection), :description => @collection.description_for_open_graph,
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@featured_book.id}_size2.jpg",
      :title => @collection.name, :type => 'album' })
  %meta{:name => 'description', :content => @collection.description_for_open_graph}

- content_for :related_books do
  %span
    Featured Books
  = render :partial => 'pages/cover', :collection => @collection.random_blessed

#collection-page.grid_9.alpha.omega
  .highlighted-book.grid_9.alpha.omega
    .collection-description.grid_6.alpha
      - cache :action => 'show', :action_suffix => 'collection_details' do
        %h1=@collection.name
        %p=simple_format(parsed_collection_description(@collection.description))
      <fb:like show_faces="true" width="600" font="arial" action='recommend'></fb:like>
    .collection_media.grid_3.omega
      .highlighted-cover
        - cache :action => 'show', :action_suffix => 'collection_image' do
          = link_to image_tag("http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@featured_book.id}_size3.jpg",
            :alt => "#{@featured_book.pretty_title} by #{@featured_book.author.name}"),
            author_book_url(@featured_book.author, @featured_book)
        %a.book-link{:href => author_book_url(@featured_book.author, @featured_book)}
          %h3 Featured Book:
          %h4=@featured_book.pretty_title
          %h4 <i>by</i> #{@featured_book.author.name}
  .divider.grid_9.alpha.omega
    = image_tag 'divider.png'
  .grid_9.alpha.omega
    .grid_5.alpha
      .clear
      %ul.book-list-sort
        %li
          = link_to 'Most Downloaded', { :controller => 'books', :action => 'ajax_paginate', :id => @collection.id, :sort_by => 'downloaded_count'}, :class => 'selected', :name => 'sort_by_downloaded_count',  :remote => true
        %li
          |
          = link_to 'Title', { :controller => 'books', :action => 'ajax_paginate', :id => @collection.id, :sort_by => 'title'}, :name => 'sort_by_title', :remote => true
        %li
          - unless @collection.is_author_collection? 
            |  
            = link_to 'Author', { :controller => 'books', :action => 'ajax_paginate', :id => @collection.id, 
              :sort_by => 'author'}, :name => 'sort_by_author', :remote => true
      .pagination
        = paginate @books, :params => {:controller => 'books', :action => 'ajax_paginate', :id => @collection.id} , :remote => true
      %ul.book-list
        = render :partial => '/books/listed_book', :collection => @books, :as => :book
      .clear
      .pagination
        = paginate @books, :params => {:controller => 'books', :action => 'ajax_paginate', :id => @collection.id} , :remote => true
    .grid_4.alpha
      %ul.featured-book-list
        = render :partial => '/books/listed_featured_book', :collection => @blessed_books, :as => :featured
- if Rails.env.production?
  - if @collection.collection_type == 'author'
    = raw render_performable_script(:author)
  - else
    = raw render_performable_script(:collection)
