- content_for :title do
  %title=@collection.web_title
- content_for :head do
  = fb_open_graph_metadata({:url => seo_url(@collection), :description => @collection.description_for_open_graph,
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@featured_book.id}_size2.jpg",
      :title => @collection.name, :type => 'album' })
  %meta{:name => 'description', :content => @collection.description_for_open_graph}

#collection-page.grid_9.alpha.omega
  .highlighted-book.grid_9.alpha.omega
    .collection-description.grid_6.alpha
      %h1=@collection.name
      %p=raw parsed_collection_description(@collection.description)
      = javascript_include_tag "http://connect.facebook.net/en_US/all.js#xfbml=1"
      <fb:like show_faces="true" width="600" font="arial"></fb:like>
      #fb-root
      = javascript_include_tag "http://connect.facebook.net/en_US/all.js#appId=127446087325348&amp;xfbml=1"
      <fb:comments href="#{seo_url(@collection)}" num_posts="10" width="500"></fb:comments>
    .collection_media.grid_3.omega
      .highlighted-cover
        = link_to image_tag("http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@featured_book.id}_size3.jpg"),
      author_book_path(@featured_book.author, @featured_book)
      %a.book-link{:href => author_book_path(@featured_book.author, @featured_book)}
        %h3 Featured Book:
        %h4=@featured_book.pretty_title
        %h4 <i>by</i> #{@featured_book.author.name}
  .divider.grid_9.alpha.omega
    = image_tag 'divider.png'
  .grid_9.alpha.omega
    .grid_5.alpha
      %div{:style =>"clear:both"}
      .pagination
        = paginate @books, :params => {:controller => 'books', :action => 'ajax_paginate', :id => @collection.id} , :remote => true
      %ul.book-list
        = render :partial => '/books/listed_book', :collection => @books, :as => :book
    .grid_4.alpha
      %ul.featured-book-list
        = render :partial => '/books/listed_featured_book', :collection => @blessed_books, :as => :featured
