- content_for :title do
  %title=@book.web_title

- content_for :head do
  = fb_open_graph_metadata({:url => seo_url(@book), :description => @book.description_for_open_graph,
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :title => @book.pretty_title, :type => 'book' })
  %meta{:name => 'description', :content => @book.description_for_open_graph}
      
- content_for :related_books do
  %span
    Related Books
  = render :partial => 'pages/cover', :collection => @related_books

#book-page.grid_9
  #cover.grid_2.alpha
    = image_tag "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg"
    - unless @books_from_the_same_collection.empty?
      .related-books
        %h4 Books from the same collection:
        = render :partial => "books/related_book", :collection => @books_from_the_same_collection, :as => :book
  .grid_7.omega
    #book-metadata.grid_5.omega
      %h1= @book.pretty_title
      .share
        <fb:like show_faces="true" width="600" font="arial"></fb:like>
      %p= simple_format(@book.description)
    .grid_2.omega
      .download_this_book
        = form_tag download_book_url(@book.author, @book) do
          %div.radio{:id => "radio_#{@book.id}"}
            - @book.classicly_formats.each_with_index do|format, index|
              = radio_button_for_format(format, index, @book)
          = link_to_function image_tag("download-this-book.png"), '$(this).parents("form").submit()'
    = image_tag '/images/divider.png', :class => 'divider'
    #reviews.grid_7
      #title-left
        Reviews
      #title-right
        = link_to 'Write a review', '#'
      .clear
      - if user_signed_in?
        = render :partial => 'books/review_form', :locals => {:review => @review, :book => @book}
      %ul.reviews
        = render :partial => 'books/review', :collection => @book.reviews

= javascript_include_tag 'book-details'
:javascript
  $('#reviews').data('book_id', #{@book.id})

