%li.grid_4.alpha.omega
  .grid_1.alpha
    = link_to image_tag("http://spreadsong-audiobook-covers-ipad.s3.amazonaws.com/audiobook_id#{audio_book.id}_size1.jpg",
      :alt => "#{audio_book.title} by #{audio_book.author.name}"), author_book_url(audio_book.author, audio_book)
  .grid_3.omega
    .metadata
      = link_to audio_book.title, author_book_url(audio_book.author, audio_book), :class => "title"
      %br
      %span by
      = link_to audio_book.author.name, seo_path(audio_book.author, :type => 'audiobook'), :class => 'author'
      %br
      .book-description
