%li.grid_5.alpha.omega
  .grid_1.alpha
    = link_to image_tag("http://spreadsong-audiobook-covers.s3.amazonaws.com/audiobook_id#{audio_book.id}_size1.jpg",
      :alt => "#{audio_book.title} by #{audio_book.author.name}"), author_book_url(audio_book.author, audio_book)
  .grid_4.omega.metadata
    .metadata
      = link_to audio_book.title, author_book_url(audio_book.author, audio_book), :class => "title"
      %br
      %span by
      = link_to audio_book.author.name, author_book_url(audio_book.author, audio_book), :class => "author"
      %br
      .book-avg-rating
        -# if book.has_rating?
          =# raw(show_review_rating_stars(book.avg_rating))
