%li{:id => "audiobook_#{audiobook.id}"}
  .cover.small
    = cover_image_link(audiobook, 2)
  .book-info
    = link_to audiobook.title, author_book_url(audiobook.author, audiobook), :class => "title"
    %p
      %span
        by
        = link_to audiobook.author.name, seo_url(audiobook.author), :class => "author"
    .clear
    = shorten_text simple_format(audiobook.description), 300

  .download-link
    = link_to image_tag('view-this-book.png'), author_book_url(audiobook.author, audiobook)
        
