- content_for :title do
  %title="Download #{@audiobook.pretty_title} mp3"

- content_for :head do
  = fb_open_graph_metadata({:url => author_book_url(@audiobook.author, @audiobook), :description => seo_front_end_meta_description_text(@audiobook),
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@audiobook.id}_size2.jpg",
      :title => @audiobook.pretty_title, :type => 'book' }, @audiobook.seo_info)
      
#download-confirmation-page{:name => "#{@audiobook.id}"}
  .cover-column
    = cover_image_link @audiobook, 2
    .cover-with-title-here.small.related
      .stable
        = cover_image_link @related_book, 2
      .text
        %span.title
          = @related_book.pretty_title
        %span.type
          Audiobook
  .download-info
    %h2
      <strong>
      = @audiobook.pretty_title
      </strong>
      by
      = link_to "#{@audiobook.author.name}", seo_url(@audiobook.author)
      is now downloading...
    %span
      If the download does not automatically start,
      = link_to "click here", @audiobook.librivox_zip_link, :class => 'download-link', :name => @format