- content_for :title do
  %title= title_for_special_landing_page(@seo)

- content_for :head do
  = fb_open_graph_metadata({:url => "http://www.classicly.com/#{@seo.slug}", :description => seo_front_end_meta_description_text(@seo),
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@audiobook.id}_size2.jpg",
      :title => @seo.seoable.pretty_title, :type => 'book' }, @seo.seo_info)
  = content_tag :meta, nil, :name => 'description', :content => seo_front_end_meta_description_text(@seo)

#book-page.audiobook{:name => @audiobook.id }
  .cover-column
    #current-book.cover-here.medium
      .stable
        .spinner
    %h4 Related
    .cover-with-title-here.small.related
      .stable
        .spinner
    .cover-with-title-here.tiny.related
      .stable
        .spinner
    .cover-with-title-here.tiny.related
      .stable
        .spinner
  .book-column
    #book-metadata
      %h1
        Download #{@audiobook.pretty_title} MP3
      %h2
        by
        %span.book-author
          = @audiobook.author.name
      %p= simple_format(@audiobook.description)

      - if !@audiobook.librivox_zip_link.blank?
        .download-highlight
          = link_to content_tag(:span, 'Download as MP3'), download_audiobook_url(@audiobook.author, @audiobook), :id => 'download-facebook-post', :class => 'button kiss green large kiss'

      %p.explanation.first Downloads on Classicly are completely free- these books are public domain. 
      %p.explanation We don’t pay a cent, so neither do you
      
= javascript_include_tag 'covers-book-detail'