- content_for :title do
  %title=@book.view_book_page_title

#book-page.audiobook{:name => @book.id }
  .cover-column
    #current-book.cover-here.medium
      .stable
        .spinner
    %h4 Related
    .cover-with-title-here.small.related
      .stable
        .spinner
    .cover-with-title-here.tiny.related
      .stable
        .spinner
    .cover-with-title-here.tiny.related
      .stable
        .spinner
  .book-column
    #book-metadata.grid_5.omega
      %h1= @book.pretty_title
      %h2 
        by
        %span.book-author
          = book_author_link(@book)
      %p= simple_format(@book.description)
    .download
      = image_tag('download_pdf.png')
      = image_tag('download_kindle.png') 
    .read
      = image_tag( 'read_online_big.png' )
    %p.explanation.first Downloads on Classicly are completely free- these books public domain. 
    %p.explanation We don’t pay a cent, so neither do you.

= javascript_include_tag 'covers-book-detail'


    
