- content_for :title do
  %title= "Classicly. Searching for  \"#{@search}\""
- content_for :head do
  %meta{:name => 'description', :content => "Search across 23,469 of the world’s greatest free books, available for free in PDF,  Kindle, Sony Reader, iBooks, and more. You can also read online!"}
  %link{:rel => "canonical", :href => "http://www.classicly.com/search" }

#collection-page.grid_9.alpha.omega
  %h1 Search results for <strong>'#{@search}'</strong>
  .pagination
    = paginate @books
  %ul.book-list
    = render :partial => '/books/listed_book', :collection => @books, :as => :book
  %ul.featured-book-list
= javascript_include_tag 'covers-search-page'

