- content_for :title do
  %title= "Classicly. Searching for  \"#{@search}\""

- content_for :head do
  %meta{:name => 'description', :content => "Search across 23,469 of the world’s greatest free books, available for free in PDF,  Kindle, Sony Reader, iBooks, and more. You can also read online!"}
  %link{:rel => "canonical", :href => "http://www.classicly.com/search" }
- content_for :related_books do
  %span
    Popular Books
  = render :partial => 'pages/cover', :collection => @popular_books
#collection-page.grid_9.alpha.omega
  .divider.grid_9.alpha.omega
    = image_tag 'divider.png'
  .grid_9.alpha.omega
    .grid_5.alpha
      %div{:style =>"clear:both"}
      .pagination
        = paginate @books
      %ul.book-list
        = render :partial => '/books/listed_book', :collection => @books, :as => :book
    .grid_4.alpha
      %ul.featured-book-list
        = #render :partial => '/books/listed_featured_book', :collection => @collection.books, :as => :featured
= javascript_include_tag 'signIn'
