#footer
  #center-container
    .row
      .span8.columns
        %ul
          %li
            = link_to 'Apps', 'https://itunes.apple.com/us/artist/digital-press-publishing/id560921854', :class => 'apps'
          %li
            = link_to 'About', '#'
          %li
            = link_to 'Blog', '/blog'
          %li
            = link_to 'Terms of Service', '/terms-of-service'
          %li
            = link_to 'Privacy Policy', '/privacy'
      .offset3.span7.columns
        #copyright
          &copy;2009-2013 Digital Press Publishing, s.r.o.
    .row
      .offset11.span7.columns
        #spreadsong
          Made in USA
