#footer
  #center-container
    .row
      .span7.columns
        %ul
          %li
            = link_to 'Apps', 'http://itunes.apple.com/us/artist/spreadsong-inc./id316600976', :class => 'apps'
          %li
            = link_to 'About', '#'
          %li
            = link_to 'Blog', '/blog'
          %li
            = link_to 'Terms of Service', '#'
          %li
            = link_to 'Privacy Policy', '/privacy'
      .offset4.span7.columns
        #copyright
          2010-2011 Spreadsong, Inc.
    .row
      .offset11.span7.columns
        #spreadsong
          Made in Boston & Budapest.