/ le right column navigator
#right-column
  .social
    %g:plusone
    %a.twitter-follow-button{href: 'http://twitter.com/classiclyapp', data: {'show-count' => 'false'}} Follow @classiclyapp
    = javascript_include_tag 'http://platform.twitter.com/widgets.js'
    %fb:like{href: 'http://www.facebook.com/pages/Classicly/193128150712368', send: 'true', layout: 'button_count', width: 200, show_faces: 'true', font: ''}              

  .right-covers
    %p.popular Popular
    - for book in @popular_books
      .cover.small
        = cover_image_link(book, 2)
        = text_for_cover(book)
    - for collection in @popular_collections
      %a.collection_link{href: "/#{collection.cached_slug}"}
        .collection-with-title-here
          - for book in collection.books.limit(6)
            .cover.mini
              = cover_tag book, 1
          = text_for_collection collection
    .clear
    .links
      .row
        .span4.columns
          = link_to 'See more popular books', '/best-of', :class => 'classicly-link'
      .row
        .span4.columns
          = link_to "Browse collections", '/collections', :class => 'classicly-link'
      .row
        .span4.columns
          = link_to "Browse authors", '/authors', :class => 'classicly-link'

