- content_for :notifications do
  - if @new_book_in_library
    = render :partial => 'now_downloading_top_bar', :locals => {:book => @new_book_in_library, :download_format => @download_format}

#library-page
  - if !current_login
    = render :partial => 'library_preview'
  - else
    = render :partial => 'library_with_content'


- if @new_book_in_library
  <script>
  </script>

  <script>
  $(document).ready(function() {
  if( _gaq ) _gaq.push(["_trackEvent", "books", "download", "id_#{@new_book_in_library.id}"]);
  if( _kmq ) {
  _kmq.push(["record", "User Activated"]);
  _kmq.push(["record", 'Downloaded book', { "id" : "id_#{@new_book_in_library.id}"}]);
  }

  window.location.replace("#{serve_downloadable_file_url(@new_book_in_library, @download_format)}");
  });
  </script>
