- if @new_book_in_library
  = render :partial => 'now_downloading_top_bar', :locals => {:book => @new_book_in_library, :download_format => @download_format}

#library-page
  .user-column
    - if !current_login
      = render :partial => 'fb_user_column'
    - else
      = render :partial => 'login_with_fb_column'
  .book-column
    %h3 Last Read:
    .book
      .cover
        %img{:src => 'http://spreadsong-book-covers.s3.amazonaws.com/book_id15791_size2.jpg'}
        .stable
          .spinner
      .info
        %h4 Dr. Jekyll and Mr. Hyde
        %h5 Robert Lewis Stevenson
      .download
        %a.highlight{:href => '#'} Download for Kindle
        <br />
        %a.highlight{:href => '#'} Download as PDF
      .read
        %a.highlight{:href => '#'} <strong>Continue Reading</strong>
        
    %h3 Library:
    #book-list
      = render :partial => 'libraries/book', :collection => @books, :as => :book
      
- if @new_book_in_library
  :javascript
    $('#book_#{@new_book_in_library.id}').hide();
    
    $(document).ready(function() {
      // can do a better animation than this
      $('#book_#{@new_book_in_library.id}').fadeIn(3000, function() {
        window.location.replace("#{serve_downloadable_file_url(@new_book_in_library, @download_format)}");
      });
    });