%li.collection{:id => "collection_#{ collection.id }"}
  .info
    %h5= link_to collection.name, show_collection_url(collection, '1')
    %p= shorten_text simple_format(remove_book_tags(collection.description, 'span')), 300
  .covers
    - collection.thumbnail_books(6).each do|thumb_book|
      .cover.tiny
        = cover_image_link(thumb_book, 2)

  .browse-this-collection
    = link_to  image_tag('browse-this-collection.png'), show_collection_url(collection, '1')