.featured-book.grid_9.alpha.omega
  .grid_2.alpha
    = link_to image_tag("http://spreadsong-book-covers.s3.amazonaws.com/book_id#{featured_book.id}_size2.jpg",
      :class => 'cover-art'), author_book_url(featured_book.author, featured_book)
  .grid_5.metadata
    = link_to content_tag(:h2, featured_book.pretty_title), author_book_url(featured_book.author, featured_book), :class => 'title'
    %h3
      by <em>#{featured_book.author.name}</em>
    %div.book-description= simple_format(featured_book.description)
  .grid_1.omega
    .download_this_book
      = form_tag download_book_url(featured_book.author, featured_book) do
        %div.radio{:id => "radio_#{featured_book.id}"}
          - featured_book.classicly_formats.each_with_index do|format, index|
            = radio_button_for_format(format, index, featured_book)
        = link_to_function image_tag("download-this-book.png"), '$(this).parents("form").submit()'
    = javascript_include_tag "http://platform.twitter.com/widgets.js"
    = link_to "", "http://twitter.com/share?url=#{author_book_url(featured_book.author, featured_book)}&text=#{featured_book.web_title}", :class =>"twitter-share-button", :target => '_blank'
    .add-profile-pics
