.featured-book.grid_9.alpha.omega
  .grid_2.alpha
    %a{:href => "/book/#{featured_book.id}"}
      %img.cover-art{:src => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{featured_book.id}_size2.jpg"}
  .grid_5.metadata
    %a.title{:href => "/book/#{featured_book.id}"}
      %h2= featured_book.title
    %h3
      by <em>#{featured_book.author.name}</em>
    %div.book-description= simple_format(featured_book.description)
  .grid_1.omega
    .download_this_book
      %form
        %div.radio{:id => "radio_#{featured_book.id}"}
          - featured_book.classicly_formats.each_with_index do|format, index|
            = radio_button_for_format(format, index, featured_book)
      %a{:href => "/book/#{featured_book.id}/download"}
        %img{:src => '/images/download-this-book.png'}
    .add-profile-pics
