.featured-book.grid_9.alpha.omega
  .grid_2.alpha
    %a{:href => "/book/#{featured_book.id}"}
      %img.cover-art{:src => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{featured_book.id}_size2.jpg"}
  .grid_5.metadata
    %a.title{:href => "/book/#{featured_book.id}"}
      %h2= featured_book.title
    %h3
      by <em>#{featured_book.author.name}</em>
    %div.book-description= simple_format(featured_book.description)
  .grid_1.omega
    .download_this_book
      %form
        %div.radio{:id => "radio_#{featured_book.id}"}
          %input{:id => "radio1_#{featured_book.id}", :type => 'radio', :name => 'radio', :checked => 'checked'}
          %label{:for => "radio1_#{featured_book.id}"} PDF
          %input{:id => "radio2_#{featured_book.id}", :type => 'radio', :name => 'radio'}
          %label{:for => "radio2_#{featured_book.id}"} Kindle
          %input{:id => "radio3_#{featured_book.id}", :type => 'radio', :name => 'radio'}
          %label{:for => "radio3_#{featured_book.id}"} Mobi
      %a{:href => "/book/#{featured_book.id}/download"}
        %img{:src => '/images/download-this-book.png'}
    .add-profile-pics
