-# controlled in pages_controller => authors
-# collections here should only fetch fields -> id, description, cached_slug and name

- content_for :title do
  %title Classic Authors | Read Online | Sync to iPhone/iPad | Classicly

#collection-list-page
  .audiobook-switcher
    - if @collections.first.book_type == 'book'
      %span Books |&nbsp;
      = link_to 'Audiobooks', '/audiobook-authors'
    - else
      = link_to 'Books', '/authors'
      %span &nbsp;| Audiobooks

  - if @featured
    #featured-collection
      .cover-column
        .cover.medium
          = cover_image_link(@featured.featured_book || @featured.featured_audiobook, 2)
      .detail-column
        - if @featured.book_type == 'book'
          %h1 Featured Author: <strong>#{@featured.name}</strong>
        - else
          %h1 Featured Audiobook Author: <strong>#{@featured.name}</strong>

        -# Google AdSense. DO NOT MODIFY.
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-7773516323337861";
        /* Collection Page 300&#42;250 */
        google_ad_slot = "4482754705";
        google_ad_width = 300;
        google_ad_height = 250;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>

        %p= simple_format @featured.parsed_description
      .books-and-link
        - @featured.thumbnail_books(6).each do|thumb_book|
          .cover.tiny
            = cover_image_link(thumb_book, 2)
        = link_to image_tag('browse-this-collection-big.png'), seo_url(@featured), :class => 'browse-collection'

  #collection-list
    %h2
      = @collections.first.book_type == 'book' ? "Author\'s Books" : "Author\'s Audiobooks"
      - unless @featured
        %span.page_number
          = "Page #{params[:page]}"
    = render 'collection_list', :collections => @collections
    = paginate @collections

:javascript
  if( _kmq == undefined) console.log('Kiss Metrics Queue is Undefined.');
  else _kmq.push([ 'record', 'Authors Page Viewed' ]);
