- content_for :title do
  %title Download Public Domain Books | Read ONline | Sync to iPhone/iPad | Classicly

#collection-list-page
  .audiobook-switcher
    - if @featured.book_type == 'book'
      %span Books |&nbsp;
      = link_to 'Audiobooks', '/audiobook-collections'
    - else
      = link_to 'Books', '/collections'        
      %span &nbsp;| Audiobooks
  #featured-collection
    .cover-column
      .cover.medium
        = cover_image_link(@featured.featured_book || @featured.featured_audiobook, 2)
          
    .detail-column
      - if @featured.book_type == 'book'
        %h1 Featured Collection: <strong>#{@featured.name}</strong>
      - else
        %h1 Featured Audiobook Collection: <strong>#{@featured.name}</strong>
      %p=raw @featured.parsed_description
    .books-and-link
      - @featured.thumbnail_books(6).each do|thumb_book|
        .cover.tiny
          = cover_image_link(thumb_book, 2)
      = link_to image_tag('browse-this-collection-big.png'), seo_url(@featured), :class => 'browse-collection'
  #collection-list
    %h2= @featured.book_type == 'book'?  'Collections' : 'Audiobook Collections'
    = render 'collection_list', :collections => @collections
    = paginate @collections