#home-page-content
	#classicly-welcome-text
		%h1
			Welcome to Classicly!
		.info
			%span.emphasize
				Browse around.
			Our books are in the public domain
		.info
			%span.emphasize
				Read online.
			We have an HTML5 reader that let's you read in your web browser and saves your place!
		.info
			%span.emphasize
				Download for free.
			We have both Kindle and PDF formats- and there's no limits on downloading.
		.info
			%span.emphasize
				Sync to iPhone & iPad
			Register to keep your reading collection in sync whether on the web or on the go.<br /></br >

	#classicly-featured-book
		.cover-here.huge
			.loader
	#links
		%a.button.kiss.large.green{:href => '/best-of'}
			%span
				Browse our hand-picked book<br />collections
		= link_to content_tag(:span, 'Browse by author'), '/bram-stoker', :class => 'button kiss large brown bouge small'
		= link_to content_tag(:span, 'Browse by most popular'), '/best-of', :class => 'button kiss large brown bouge small'


	#book-tiles
		.cover-here.tiny
			.loader
		.cover-here.large
			.loader
		.cover-here.small
			.loader
		.cover-here.small
			.loader
		.cover-here.small
			.loader
		.cover-here.medium
			.loader
		.cover-here.small
			.loader
		.cover-here.medium
			.loader
		.cover-here.medium
			.loader
		.cover-here.medium
			.loader
		.cover-here.small
			.loader

#home-page-browse
	.row
		%p.popular
			Popular
		.row.book
			= link_cover_tag(@books.first, 1, 'small')
			.label
				= @books.first.pretty_title
				= content_tag :span, 'Book', :class => 'kind'
		.row.author
			= link_cover_tag(@author_collection_books.first, 1, 'small')
			.label
				= @author_collection.name
				= content_tag :span, 'Author', :class => 'kind'
		.row.book
			= link_cover_tag(@books.last, 1, 'small')
			.label
				= @books.last.pretty_title
				= content_tag :span, 'Book', :class => 'kind'
		.row.collection
			- for cover in @collection_covers
				= link_cover_tag(cover, 1, "mini")
			.label
				Best Of
				= content_tag :span, 'Collection', :class => 'kind'
		.row.links
			See more related books
		.row.links
			Browse collections
		.row.links
			Browse authors
= javascript_include_tag 'randomCoverPicker'
:javascript
	$(function(){

		$.getJSON("home_page_books_for_author",
			function(data){
			  images = $('img.homepage_author');
			  $.each(images, function(index, image) {
					assignImageSource($(image), data);
				});
		});
		
		$.getJSON("home_page_random_books",
			function(data){
			  images = $('img.random_book');
			  $.each(images, function(index, image) {
					assignImageSource($(image), data);
				});
		});

	});
