- content_for :title do
  %title=seo_front_end_static_page_title('HomePage')

- content_for :head do
  = content_tag :meta, nil, :name => "description", :content => "23,469 of the world's greatest free books, available for free in PDF,  Kindle, Sony Reader, iBooks, and more. You can also read online!"
  
#home-page-content
  #classicly-welcome-text
    %h1
      Free Classics. Classicly.
    .info
      %span.emphasize
        Browse around.
      Our books are public domain classics- generally from before 1923.
    .info
      %span.emphasize
        Read online.
      We have an HTML5 reader that let's you read in your web browser and saves your place!
    .info
      %span.emphasize
        Download for free.
      We have both Kindle and PDF formats- and there's no limits on downloading.
    .info
      %span.emphasize
        Sync to iPhone & iPad
      Register to keep your reading collection in sync whether on the web or on the go.<br /></br >

  #classicly-featured-book
    .cover.huge
      = cover_image_link(@featured_book, 3)
  #links
    %a.button.kiss.large.green{:href => '/collections'}
      %span
        Browse our hand-picked book<br />collections
    = link_to content_tag(:span, 'Browse by author'), '/authors', :class => 'button kiss large brown bouge small'
    = link_to content_tag(:span, 'Browse by most popular'), '/best-of', :class => 'button kiss large brown bouge small'


  #book-tiles
    .column
      - for i in 0..2
        .cover.medium
          = cover_image_link_with_text(@column_books[i], 2)
    .column
      - for i in 3..5
        .cover.medium
          = cover_image_link_with_text(@column_books[i], 2)
    .column.last
      - for i in 6..8
        .cover.medium
          = cover_image_link_with_text(@column_books[i], 2)
  #links
    %a.button.kiss.large.green{:href => '/collections'}
      %span
        Browse our hand-picked book<br />collections
    = link_to content_tag(:span, 'Browse by author'), '/authors', :class => 'button kiss large brown bouge small'
    = link_to content_tag(:span, 'Browse by most popular'), '/best-of', :class => 'button kiss large brown bouge small'