%li.grid_5.alpha.omega
  .grid_1.alpha
    = link_to image_tag("http://spreadsong-book-covers-ipad.s3.amazonaws.com/book_id#{book.id}_size1.jpg"), author_book_path(book.author, book)
  .grid_4.omega.metadata
    .metadata
      = link_to book.title, author_book_path(book.author, book), :class => "title"
      %br
      %span by
      = link_to book.author.name, seo_path(book.author), :class => "author"
      %br
      = image_tag "stars.png", :class => 'stars'
