#form_box
  .left
    #profile-pic
      = facebook_image(current_login.fb_connect_id)
    .clear
    #profile-name
      %p
        = current_login.first_name
      %p
        = current_login.last_name
  .right
    = form_for [book, review] do |f|
      = f.text_area :content
      .clear
      .ratings
        = raw ratings_input_for_book(f)
      = image_submit_tag 'review-submit-button.png', :id => 'review_submit'
