%div.individual_review
  .profile-pic
    <fb:profile-pic uid=#{review.reviewer.fb_connect_id} size='thumb' width='50' height='50'> </fb:profile-pic>

  .profile-name
    %p.name
      = review.reviewer.first_name
      = review.reviewer.last_name
    %p
      #{review.created_at.to_s :review_format}

  .clear
  .review-content
    = simple_format review.content
