%li
  .profile-pic
    = facebook_image(review.reviewer.fb_connect_id)
  .profile-name
    %p.name
      = review.reviewer.first_name
    %p
      #{review.created_at.to_s :review_format}
  .review-rating
    = raw(show_review_rating_stars(review.rating))
  .clear
  .review-content
    = simple_format review.detail
