- content_for :title do
  %title= @book.download_format_page_title(@format)

- content_for :head do
  = fb_open_graph_metadata({:url => author_book_url(@book.author, @book), :description => @book.description_for_open_graph,
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :title => @book.pretty_title, :type => 'book' })

#download-confirmation
  .grid_2.alpha
    = image_tag Book.cover_url(@book.id, 2)
  .grid_7.omega
    .download-info.grid_7.alpha.omega
      %h1
        Download
        = link_to "#{@book.pretty_title}", author_book_url(@book.author, @book)
        #{@format == 'azw' ? 'Kindle' : @format.upcase }
      .grid_7.alpha.omega
        .facebook-upsell
          = link_to special_format_download_book_link(@format), download_book_url(@book.author, @book, :format => @format), :id => 'download-facebook-post', :class => 'conversion-button kiss green large kiss', :method => 'post'
