- content_for :title do
  %title= "Classicly. Downloading: #{@book.pretty_title}"

- content_for :head do
  = fb_open_graph_metadata({:url => book_url(@book), :description => @book.limited_description(100),
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :title => @book.pretty_title, :type => 'book' })

#book-page.grid_9
  #cover.grid_2.alpha
    = image_tag "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg"
    .related-books
  .grid_7.omega
    #book-metadata.grid_5.omega
      .download-title
        %span.titleorauthor
          #{@book.pretty_title}
        by 
        %span.titleorauthor
          #{@book.author.name}
        is now downloading

      #download-now
        If it does not start automatically
        = link_to "click here", @book.download_url_for_format(@format), :class => 'download-link', :name => @format

      .share
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like show_faces="true" width="600" font="arial" colorscheme="dark"></fb:like>
= javascript_include_tag 'downloads'
