- content_for :title do
  %title= seo_front_end_title_helper(@seo)

- content_for :head do
  = fb_open_graph_metadata({:url => "http://www.classicly.com/#{@seo.slug}", :description => seo_front_end_meta_description_text(@seo),
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :title => @seo.seoable.pretty_title, :type => 'book' }, @seo.seo_info)
  = content_tag :meta, nil, :name => 'description', :content => seo_front_end_meta_description_text(@seo)

#book-page{:name => "#{@book.id}"}
  .cover-column
    #current-book.cover.medium
      = cover_image_link(@book, 2)
    - unless @related_books.empty?
      %h4 Related
      .cover.small.related
        = cover_image_link(@related_books.first, 2)
        .text
          = link_to content_tag(:span, @related_books.first.pretty_title, :class => 'title'), author_book_url(@related_books.first.author, @related_books.first),:class => 'no-underline'
          %span.type
            Book
      - 1.upto(@related_books.count - 1) do|index|
        .cover.tiny.related
          = cover_image_link(@related_books[index], 2)
          .text
            = link_to content_tag(:span, @related_books[index].pretty_title, :class => 'title'), author_book_url(@related_books[index].author, @related_books[index]),:class => 'no-underline'
            %span.type
              Book
  .book-column
    #book-metadata
      %h1
        Download #{@book.pretty_title} as 
        #{@format == 'azw' ? 'Kindle' : @format.upcase }
      %h2
        by
        %span.book-author
          - if @book.belongs_to_author_collection?
            #{link_to @book.author.name, seo_path(@book.author)}
          -else
            = @book.author.name

      %p= simple_format(@book.description)

      -# Google AdSense. DO NOT MODIFY.
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-7773516323337861";
      /* Book Page 250&#42;300 */
      google_ad_slot = "6647913200";
      google_ad_width = 300;
      google_ad_height = 250;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>

      .download-highlight
        = link_to download_and_add_to_library_url(:book_id => @book.id, :download_format => @format), :id => 'download_button', :class => 'button kiss green large kiss' do
          = content_tag(:span, "Download and add to your library")

        / = link_to special_format_download_book_link(@format), download_book_url(@book.author, @book, @format), :id => 'download-facebook-post', :class => 'button kiss green large kiss'

      %p.explanation.first Downloads on Classicly are completely free- these books are public domain. 
      %p.explanation We don’t pay a cent, so neither do you.
      - if @format == 'azw'
        = image_or_link_to_download_format @book, 'pdf'
      - else
        = image_or_link_to_download_format @book, 'azw'

      = link_to image_tag( 'read-online-small.png' ), seo_url( @book.seo_slugs.read_online.first.slug )
