- content_for :title do
  %title= @book.download_format_page_title(@format)

- content_for :head do
  = fb_open_graph_metadata({:url => author_book_url(@book.author, @book), :description => @book.description_for_open_graph,
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :title => @book.pretty_title, :type => 'book' })

#book-page{:name => "#{@book.id}"}
  .cover-column
    #current-book.cover-here.medium
      .stable
        .spinner
    %h4 Related
    .cover-with-title-here.small.related
      .stable
        .spinner
    .cover-with-title-here.tiny.related
      .stable
        .spinner
    .cover-with-title-here.tiny.related
      .stable
        .spinner

  .book-column
    #book-metadata
      %h1
        Download #{@book.pretty_title} as 
        #{@format == 'azw' ? 'Kindle' : @format.upcase }
      %h2
        by
        %span.book-author
          - if @book.belongs_to_author_collection?
            #{link_to @book.author.name, seo_path(@book.author)}
          -else
            = @book.author.name
      %p= simple_format(@book.description)


      .download-highlight
        = link_to special_format_download_book_link(@format), download_book_url(@book.author, @book, @format), :id => 'download-facebook-post', :class => 'button kiss green large kiss'

      %p.explanation.first Downloads on Classicly are completely free- these books public domain. 
      %p.explanation We don’t pay a cent, so neither do you.
      - if @format == 'azw'
        = image_or_link_to_download_format @book, 'pdf'
      - else
        = image_or_link_to_download_format @book, 'azw'
      - if @book.book_pages.size != 0
        = link_to image_tag( 'read_online_small.png' ), seo_url( @book.seo_slugs.read_online.first.slug )
= javascript_include_tag 'covers-book-detail'