- content_for :title do
  %title=@book.download_format_page_title(@format)
- content_for :head do
  = fb_open_graph_metadata({:url => author_book_url(@book.author, @book), :description => @book.description_for_open_graph,
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :title => @book.pretty_title, :type => 'book' })

#download-confirmation-page{:name => "#{@book.id}"}
  .cover-column
    = cover_image_link @book, 2
    .cover-with-title-here.small.related
      .stable
        = cover_image_link @related_book, 2
      .text
        %span.title
          = @related_book.pretty_title
        %span.type
          Book
  .download-info
    %h2
      <strong>
      =@book.pretty_title
      </strong>
      by
      = link_to "#{@book.author.name}", seo_url(@book.author)
      is now downloading...
    %span
      If the download does not automatically start,
      = link_to "click here", serve_downloadable_file_url(@book, @format), :class => 'download-link', :name => @format
<script type="text/javascript">document.write(unescape('%3Cscript type="text/javascript" src="'+document.location.protocol+'//dnn506yrbagrg.cloudfront.net/pages/scripts/0010/3575.js"%3E%3C%2Fscript%3E'))</script>
