- content_for :title do
  %title=@book.read_online_title

- content_for :related_books do
  %span
    Related Books
  = render :partial => 'pages/cover', :collection => @related_books

#book-page.grid_9
  #cover.grid_2.alpha
    = image_tag "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :alt => "#{@book.pretty_title} by #{@book.author.name}"
  .grid_7.omega
    #book-metadata.grid_5.omega
      %h1= @book.pretty_title
      %h2
        by
        %span.book-author
          - if @book.belongs_to_author_collection?
            #{link_to @book.author.name, seo_path(@book.author)}
          -else
            = @book.author.name
      .share
        <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like show_faces="true" width="600" font="arial" action='recommend'></fb:like>
      %p= simple_format(@book.description)
      #read_online_button_container
        = image_tag 'classicly-read-online_03.png'
        .clear
        .read_online_text
          %p
            Click here to read with our online ereader.
          %p
            We even save your bookmarks!
      .clear
      %div{:style => 'margin-top:20px; font-weight:bold; font-size: 25px;' }
        Or...
      .bold
        = raw links_for_downloading_special_formats(@book)
      .bold
        Browse Chapters
        
    .grid_2.omega.download-share
      .clear
      .share-widgets
= javascript_include_tag 'book-details'
:javascript
  $('#reviews').data('book_id', #{@book.id})
:javascript
  FB.init({
    appId  : '#{Facebook::APP_ID}',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });