- content_for :title do
  %title=seo_front_end_title_helper(@seo)

- content_for :head do
  = fb_open_graph_metadata({:url => @book.url_for_specific_format('online'),
      :description => seo_front_end_meta_description_text(@seo),
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :title => "#{@book.author.name} - #{@book.pretty_title}", :type => 'book' }, @book.seo_info)
  = content_tag :meta, nil, :name => 'description', :content => seo_front_end_meta_description_text(@seo)


#book-page
  .span12.columns

  .row
    .cover-column.span3.columns
      #current-book.cover.medium
        = cover_image_link(@book, 2)

    .book-column.span9.columns
      #book-metadata
        #book-title
          %h1 Read #{@book.pretty_title} Online Free
        #book-author
          %h2
            by
            %span.book-author
              = book_author_link(@book, 'classicly-link')

        -# Google AdSense. DO NOT MODIFY.
        <script type="text/javascript"><!--
        google_ad_client = "ca-pub-7773516323337861";
        /* Book Page 250&#42;300 */
        google_ad_slot = "6647913200";
        google_ad_width = 300;
        google_ad_height = 250;
        //-->
        </script>
        <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
        </script>

        .like-send
          <fb:like show_faces="true" send="true" width="600" send="true" font="arial" action='recommend'></fb:like>

        = simple_format(@book.description)
        .clear

        - if @book.is_rendered_for_online_reading
          #read-online-button-container
            = image_tag 'read-online-arrow.png'
            = read_online_link @book


        %p.explanation.first Reading on Classicly is completely free- these books are public domain.
        %p.explanation We don’t pay a  cent, so neither do you.


:javascript
  $( function (){
    $( "#read_online_button_container a" ).click( function(){
      if ( _gaq ) _gaq.push( ['_trackEvent', 'books', 'read_online', "id_#{@book.id}"] );
      if ( _kmq ) {
        _kmq.push(['book', 'Read Online', {'id': "id_#{@book.id}"}]);
        _kmq.push([ "record", "User Activated" ]);
      }
    });
  });
