- content_for :title do
  %title=title_for_special_landing_page(@seo)

- content_for :head do
  = fb_open_graph_metadata({:url => @book.url_for_specific_format('online'),
      :description => seo_front_end_meta_description_text(@book),
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :title => "#{@book.author.name} - #{@book.pretty_title}", :type => 'book' }, @book.seo_info)
  = content_tag :meta, nil, :name => 'description', :content => seo_front_end_meta_description_text(@book)


#book-page{:name => @book.id}
  .cover-column
    #current-book.cover-here.medium
      .stable
        .spinner
    %h4 Related
    .cover-with-title-here.small.related
      .stable
        .spinner
    .cover-with-title-here.tiny.related
      .stable
        .spinner
    .cover-with-title-here.tiny.related
      .stable
        .spinner

  .book-column
    #book-metadata
      %h1 Read #{@book.pretty_title} Online Free
      %h2
        by
        %span.book-author
          - if @book.belongs_to_author_collection?
            #{link_to @book.author.name, seo_path(@book.author)}
          -else
            = @book.author.name
      .share
        <fb:like show_faces="true" send="true" width="600" send="true" font="arial" action='recommend'></fb:like>
      %p= simple_format(@book.description)
      #read_online_button_container
        =image_tag 'read-online-arrow.png'
        -# if @book.book_pages.size != 0
        = read_online_link @book
        .clear
        .read_online_text
          %p.explanation.first Reading on Classicly is completely free- these books are public domain. 

          %p.explanation We don’t pay a  cent, so neither do you.


= javascript_include_tag 'covers-book-detail','book-details'
:javascript
  $('#reviews').data('book_id', #{@book.id})
:javascript
  FB.init({
    appId  : '#{Facebook::APP_ID}',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });
