- content_for :title do
  %title=seo_front_end_title_helper(@seo)

- content_for :head do
  = fb_open_graph_metadata({:url => @book.url_for_specific_format('online'),
      :description => seo_front_end_meta_description_text(@seo),
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :title => "#{@book.author.name} - #{@book.pretty_title}", :type => 'book' }, @book.seo_info)
  = content_tag :meta, nil, :name => 'description', :content => seo_front_end_meta_description_text(@seo)


#book-page{:name => @book.id}
  .cover-column
    #current-book.cover.medium
      = cover_image_link(@book, 2)
    - unless @related_books.empty?
      %h4 Related
      .cover.small.related
        = cover_image_link(@related_books.first, 2)
        .text
          = link_to content_tag(:span, @related_books.first.pretty_title, :class => 'title'), author_book_url(@related_books.first.author, @related_books.first),:class => 'no-underline'
          %span.type
            Book
      - 1.upto(@related_books.count - 1) do|index|
        .cover.tiny.related
          = cover_image_link(@related_books[index], 2)
          .text
            = link_to content_tag(:span, @related_books[index].pretty_title, :class => 'title'), author_book_url(@related_books[index].author, @related_books[index]),:class => 'no-underline'
            %span.type
              Book

  .book-column
    #book-metadata
      %h1 Read #{@book.pretty_title} Online Free
      %h2
        by
        %span.book-author
          = book_author_link(@book)

      -# Google AdSense. DO NOT MODIFY.
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-7773516323337861";
      /* Book Page 250&#42;300 */
      google_ad_slot = "6647913200";
      google_ad_width = 300;
      google_ad_height = 250;
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>

      .share
        <fb:like show_faces="true" send="true" width="600" send="true" font="arial" action='recommend'></fb:like>
      %p= simple_format(@book.description)
      - if @book.read_online?
        #read_online_button_container
          =image_tag 'read-online-arrow.png'
          = read_online_link @book
        .clear
        .read_online_text
          %p.explanation.first Reading on Classicly is completely free- these books are public domain. 

          %p.explanation We don’t pay a  cent, so neither do you.


:javascript
  $( function (){
    $( "#read_online_button_container a" ).click( function(){
      if ( _gaq ) _gaq.push( ['_trackEvent', 'books', 'read_online', "id_#{@book.id}"] );
    });
  });
