- content_for :title do
  %title=@book.view_book_page_title
- content_for :head do
  - if @book.needs_canonical_link?
    %link{:rel => "canonical", :href => "http://www.classicly.com/#{@book.author.cached_slug}/#{@book.canonical_slug}" }
  = fb_open_graph_metadata({:url => author_book_url(@book.author, @book), :description => @book.description_for_open_graph,
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :title => "#{@book.author.name} - #{@book.pretty_title}", :type => 'book' })
  %meta{:name => 'description', :content => @book.description_for_open_graph}
      
#book-page{:name => @book.id }
  .cover-column
    #current-book.cover-here.medium
      .stable
        .spinner
    %h4 Related
    .cover-with-title-here.small.related
      .stable
        .spinner
    .cover-with-title-here.tiny.related
      .stable
        .spinner
    .cover-with-title-here.tiny.related
      .stable
        .spinner
  .book-column
    #book-metadata.grid_5.omega
      - cache :action => 'show', :action_suffix => 'book_details' do
        %h1= @book.pretty_title
        %h2 
          by
          %span.book-author
            = book_author_link(@book)

        <fb:like show_faces="true" send="true" width="600" send="true" font="arial" action='recommend'></fb:like>
        %p= simple_format(@book.description)
        .share
      .download
        = @book.available_in_format?('pdf') ? link_to(image_tag('download_pdf.png'), seo_url(@book.seo_slugs.pdf.first.slug)) : image_tag('download_pdf.png')
        = @book.available_in_format?('azw') ? link_to(image_tag('download_kindle.png'), seo_url(@book.seo_slugs.kindle.first.slug)) : image_tag('download_kindle.png') 
      .read
        - if @book.book_pages.size != 0
          = link_to image_tag( 'read_online_big.png' ), seo_url( @book.seo_slugs.read_online.first.slug )
      %p.explanation.first Downloads on Classicly are completely free- these books public domain. 
      %p.explanation We don’t pay a cent, so neither do you.
= javascript_include_tag 'covers-book-detail'

:javascript
  $('#reviews').data('book_id', #{@book.id})
