- content_for :title do
  %title= seo_front_end_title_helper(@book)

- content_for :head do
  - if @book.needs_canonical_link?
    %link{:rel => "canonical", :href => "http://www.classicly.com/#{@book.author.cached_slug}/#{@book.canonical_slug}" }
  = fb_open_graph_metadata({:url => author_book_url(@book.author, @book), :description => seo_front_end_meta_description_text(@book),
      :image => "http://spreadsong-book-covers.s3.amazonaws.com/book_id#{@book.id}_size2.jpg",
      :title => "#{@book.author.name} - #{@book.pretty_title}", :type => 'book' }, @book.seo_info)
  = content_tag :meta, nil, :name => 'description', :content => seo_front_end_meta_description_text(@book)


#book-page
  .span12.columns
    .row
      <!-- left column-->
      .cover-column.offset1.span3.columns
        #current-book.cover.medium
          = cover_image_link(@book, 2)
        #my-rating
          #text
            My Rating
          #blank-stars
          #rating-stars
            = raw rate_book('book_rating_dynamic', 'dynamic-stars', @book.rating_by_user(current_login) || 0)
        .clear
        - if @book.read_online?
          #read-online-btn
            = link_to 'Read Online', seo_url(@book.seo_slugs.read_online.first.slug), :class => 'btn read-online'
        #download-as
          .text
            Download as
          - if @book.available_in_format?('pdf') && @book.has_slug_for_format?('pdf')
            #pdf.download-button
              = link_to 'PDF', seo_url(@book.seo_slugs.pdf.first.slug) , :class => 'btn primary'
          - if @book.available_in_format?('azw') && @book.has_slug_for_format?('kindle')
            #kindle.download-button
              = link_to 'Kindle', seo_url(@book.seo_slugs.kindle.first.slug), :class => 'btn primary'
          - if @book.has_audiobook
            #audiobook.download-button
              = link_to 'Audiobook', seo_url(@book.audiobook_download_slug), :class => 'btn primary'

      <!-- details column-->
      .book-column.span7.columns
        #book-metadata
          #book-title
            %h1= @book.pretty_title
          #book-author
            %h2
              by
              %span.book-author
                = book_author_link(@book, 'classicly-link')
          #book-rating
            - if @book.average_rating > 0
              = raw show_review_rating_stars(@book.average_rating)
              %span#reviews-count
                = show_review_counts @book

          .like-send
            <fb:like show_faces="true" send="true" width="600" send="true" font="arial" action='recommend'></fb:like>
          %p= simple_format(@book.description)

        %p.explanation.first Downloads on Classicly are completely free- these books are public domain.
        %p.explanation We don’t pay a cent, so neither do you.

        .clear
        .row
          .span7.columns
            #write-review
              = raw write_review_link(@book, current_login)
          <!-- le form -->
        = render :partial => 'books/review_form', :locals => {:book => @book, :login => current_login}

      .row
        .offset4.span7.columns
          #reviews
            = render :partial => 'books/review', :collection => @book.reviews.with_content.most_recent                
<!-- les import -->
= javascript_include_tag 'review-ratings'

:javascript
  $(function(){
    $( "#book-page" ).data( "book_id", "#{@book.id}" );
    $( "#book-rating" ).data( "book_type", "book")
  });
  
  if( _kmq == undefined) console.log('Kiss Metrics Queue is Undefined.');
  else _kmq.push([ 'record', 'Book Viewed', { 'name': "#{@book.pretty_title}" } ]);
