%h1 Login
= form_for @admin_user_session, :url => admin_admin_user_session_path do |f|
  = f.label :email
  %br
  = f.text_field :email
  %br
  %br
  = f.label :password
  %br
  = f.password_field :password
  %br
  = f.submit "Login"