%p
  Search
  = form_tag "/admin/admin_seo/#{@type}" do
    = text_field_tag 'search'
    - if @elements.first.is_a?(SeoSlug)
      = label_tag 'Book'
      = radio_button_tag 'book_type', 'book', true
      = label_tag 'Audiobook'
      = radio_button_tag 'book_type', 'audiobook'
    = submit_tag 'Go'
= paginate @elements
%table
  %thead
    %tr
      - if @elements.first.is_a?(SeoSlug)
        %th
          Object Type
      %th
        Title or name
      %th
        Slug
      %th
        
  %tbody
    = render :partial =>'element', :collection => @elements
      
%p
  = link_to 'Back to Seo Admin', admin_admin_seo_path