%p
  = link_to 'Set defaults for SEO info', admin_seo_defaults_url
%p
  = link_to 'Manage individual book page SEO info', admin_admin_infoable_path(:type => 'book')
%p
  = link_to 'Manage individual audioobook page SEO info', admin_admin_infoable_path(:type => 'audiobook')
%p
  = link_to 'Manage individual collection page SEO info', admin_admin_infoable_path(:type => 'collection')
%p
  = link_to 'Manage landing pages SEO info', admin_admin_infoable_path(:type => 'seo_slug')