#blog-single.blog-shared
  .show-post
    .blog-title
      %h1.show
        = blog_post.title
      %span by
      %span.author Tyler
      %span on
      %span.date=blog_post.created_at.to_s :post_title_format
    .content
      = simple_format blog_post.content
    - unless blog_post.related_books.empty?
      .related
        %h5 Related Books
        - for book in blog_post.related_books
          .book-cover{:id => "book_#{book.id}"}
            .cover-here.medium.popular
              .stable
                .spinner
    .clear
    = link_to content_tag(:span, 'Back to the blog'), blog_path, :class => "button kiss large green"

    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname = 'classicly'; 
    var disqus_identifier = classicly-#{@blog_post.id}";
    var disqus_url = "#{blog_post.slug};

    (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

= javascript_include_tag 'covers-blog-page'
