#blog-single.blog-shared
  .show-post
    .blog-title
      %h1.show
        = blog_post.title
      %span by
      %span.author Tyler
      %span on
      %span.date=blog_post.created_at.to_s :post_title_format
    .content
      = simple_format blog_post.content
    - unless blog_post.related_books.empty?
      .related
        %h5 Related Books
        - for book in blog_post.related_books
          .book-cover{:id => "book_#{book.id}"}
            .cover-here.medium.popular
              .stable
                .spinner
    .clear
    = link_to content_tag(:span, 'Back to the blog'), blog_path, :class => "button kiss large green"
= javascript_include_tag 'covers-blog-page'
