%h2.section-header
  Default settings for SEO.

%table
  %thead
    %tr
      %th
        Object Type
      %th
        Attribute
      %th
        Default attribute string
      %th
        Collection Type
      %th
        Format
      %th
        Actions
  %tbody
    - for seo_default in @seo_defaults
      %tr
        %th
          = seo_default.object_type
        %th
          = seo_default.object_attribute
        %th
          = seo_default.default_value
        %th
          = seo_default.object_type == 'Collection' ? seo_default.collection_type : 'Not applicable'
        %th
          = seo_default.object_type == 'SeoSlug' ? seo_default.format : 'Not applicable'
        %th
          = link_to "Edit", edit_admin_seo_default_path(seo_default)
%p
  = link_to 'Back to Admin Seo', admin_admin_seo_path 