= stylesheet_link_tag  "markitup/skins/markitup/style.css", "markitup/sets/default/style.css"

%h2
  General
#blog-form
  - form_for [:admin, blog_post] do |f|
    = render "shared/error_messages", :target => blog_post
    %p
      = f.label :title
      = f.text_field :title
    %p
      = f.label :content
      = f.text_area :content
    %p
      = f.label :meta_description, 'Meta Description (SEO)'
      = f.text_field :meta_description
    %p
      = f.label :keywords
      = f.text_field :keywords
    %p
      = f.submit blog_post.new_record? ? 'Save' : 'Update'

  %h2
    Associate Images

  %h3
    Cover Images
  %p
    = label_tag 'Pick a book'
    = text_field_tag 'covers-autocomplete'
  - unless blog_post.new_record?
    %ul.related-books{:id => "#{blog_post.id}"}
      - for book in blog_post.related_books
        %li.related
          = cover_tag book, 1
          %span.close
            = link_to 'X', '#', :id => book.id
          %span.title
            = book.pretty_title

  = link_to 'Back to Blog Posts', admin_blog_posts_path

= javascript_include_tag 'jquery.markitup.set', 'jquery.markitup'
-# This Google javascript must be loaded before the blogPostForm file since it loads the jQuery autocomplete:
:javascript
  // load jQueryUI:
  var theme = "flick";
  google.load("jqueryui", "1.8.7");
  google.loader.writeLoadTag("css", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/" + theme + "/jquery-ui.css");
= javascript_include_tag 'blogPostForm'