%h1
  Blog Posts

= link_to 'New entry', new_admin_blog_post_path

%table#blog_entries_table.listing
  %thead
    %tr
      %th.header
        title
      %th.header
        keywords
      %th.header
        functions
  %tbody
    - for post in @blog_posts
      %tr
        %td
          = post.title
        %td
          = post.keywords
        %td
          = link_to 'Edit',edit_admin_blog_post_path(post.id)
          = link_to 'Delete', admin_blog_post_path(post), :method => :delete

:javascript
  $("table tr:nth-child(even)").addClass("even");
  $("table tr:nth-child(odd)").addClass("odd");
