%html{:xmlns => "http://www.w3.org/1999/html", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xml:lang" => "en", :lang => "en"}

  %head
    = typekit_include_helper
    = yield :title
    %meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    = javascript_include_tag 'http://www.google.com/jsapi'
    = javascript_tag do
      google.load("jquery", "1.4.4");
    = javascript_include_tag 'admin'
    = csrf_meta_tag
    = yield :head

  %body.bp
    #header
      .wrap
        .top
          #logo
            = link_to image_tag('logo.png'), '/'
    #content
      #left-column
        .admin_page
          = yield
      #right-column
        .link.sepia
          = link_to 'Admin Reviews', admin_reviews_path
        .link.sepia
          = link_to 'Admin Blog', admin_blog_posts_path
        .link.sepia
          = link_to 'Admin Seo', admin_admin_seo_path
        .link.sepia
          = link_to 'Logout', admin_logout_path if current_admin_user
    