!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xml:lang" => "en", :lang => "en"}

%head
  = typekit_include_helper
  = yield :title
  %meta{"http-equiv" => 'content-type', :content =>'text/html;charset=utf-8'}
  %meta{:name => "google-site-verification", :content=>"C5mTYYrvRIWakzKx-n0y_qIWok9wPTkrEamcd3EIcKI"}
  %meta{:name => "msvalidate.01", :content => "15B64C4C2ACD1A23F62F20544A16C9FD"}
  %meta{:name=>"y_key", :content=>"8586e4a49b4ee727"}

  = include_stylesheets :common, :media => 'all'
  = include_stylesheets :jqueryui, :rating
  = include_javascripts :main
  = javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
  = csrf_meta_tag
  = yield :head
  <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
%body
  %div{:style => 'display:none'}
    #login-form
  #header
    .container_12
      .grid_2.alpha
        = render 'shared/logo', :audibly => @audibly
      .grid_5
        = search_form(search_url, @search)
      = render 'shared/profile_image_in_header', :current_login => current_login
  = render 'shared/app_store_banner_with_map'
  .wrapper
    #cover-bar.container_12
      = yield :related_books
    #content.container_12
      .grid_12.alpha.omega
      #collection-column.grid_3.alpha
        .collection-container
          = image_tag '/images/collections-collections.png'
          %ul
            = render :partial => 'shared/collection_list_element', :collection => @genre_collections, :as => :collection
          = image_tag  '/images/collections-bottom.png'
        .author-container
          = image_tag '/images/collections-authors.png'
          %ul
            = render :partial => 'shared/collection_list_element', :collection => @author_collections, :as => :collection
          = image_tag '/images/collections-bottom.png'
      .grid_8.omega
        #current-page.grid_8.alpha.omega
          = yield
    - cache 'footer' do
      = render 'shared/footer'
  <script src="//d1nu2rn22elx8m.cloudfront.net/performable/pax/0HuiG9.js" type="text/javascript"></script>
:javascript
  var RAILS_ENV = "#{Rails.env}";
  FB.init({
    appId  : '#{Facebook::APP_ID}',
    status : true, // check login status
    cookie : true, // enable cookies to allow the server to access the session
    xfbml  : true  // parse XFBML
  });

:javascript
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));

:javascript
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "spreadsong";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options)

<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-21890797-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>
<script type="text/javascript">
var _sf_async_config={uid:21265,domain:"classicly.com"};
(function(){
function loadChartbeat() {
window._sf_endpt=(new Date()).getTime();
var e = document.createElement('script');
e.setAttribute('language', 'javascript');
e.setAttribute('type', 'text/javascript');
e.setAttribute('src',
(("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
"js/chartbeat.js");
document.body.appendChild(e);
}
var oldonload = window.onload;
window.onload = (typeof window.onload != 'function') ?
loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>
<script type="text/javascript">
(function() {
var t   = document.createElement('script');
t.type  = 'text/javascript';
t.async = true;
t.id    = 'gauges-tracker';
t.setAttribute('data-site-id',
'4d88ada2a9b23d0ebd000011');
t.src = '//secure.gaug.es/track.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(t, s);
})();
</script>

<!-- Include MixPanelscript: -->
<script type="text/javascript">
var mp_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + mp_protocol + "api.mixpanel.com/site_media/js/api/mixpanel.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- Initialize it with MixPanel project token -->
<script type="text/javascript">
try {
var mpmetrics = new MixpanelLib("b6f94d510743ff0037009f3a1be605c2");
} catch(err) {
var null_fn = function () {};
var mpmetrics = { 
track: null_fn, 
track_funnel: null_fn, 
register: null_fn, 
register_once: null_fn,
register_funnel: null_fn,
identify: null_fn
};
}
</script>
= yield :scripts
