!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xml:lang" => "en", :lang => "en"}

%head
  = typekit_include_helper
  = yield :title
  %meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}
  %meta{:name => 'description', :content => "Browser+ HD. The internet rethought, reinvented, and handcrafted for iPad and iPhone."}
  %meta{:name => "google-site-verification", :content => "6O3-Qaesz8YLRESdSAbCarV1HzsC4F3dh4QTrTfmsj4"}
  
  = stylesheet_link_tag 'main', :media => :screen
  = stylesheet_link_tag 'grid', :media => :screen
  = stylesheet_link_tag 'moreLess', :media => :screen
  = stylesheet_link_tag 'jqueryui', :media => :screen
  = stylesheet_link_tag 'jquery.fancybox.css', :media => :screen
  
  = javascript_include_tag 'jquery.min'
  = javascript_include_tag 'application', 'jquery.moreLess.1.0.min', 'jqueryui', 'rails' 
  = csrf_meta_tag
  = yield :head
%body
  %div{:style => 'display:none'}
    #login-form
  #header
    .container_12
      .grid_2.alpha
        %a#logo{:href => '/'}
        %h2 free books from<br />the public domain
      .grid_5
        %form#search
          %div.search-bg
            %input{:type => 'text', :value => 'Search...'}
      #nav.grid_3
        %a.selected{:href => '#'} Collections
        %a{:href => '#'} Authors
        %a{:href => '#'} Titles
      #registration.grid_1.omega
        <fb:login-button registration-url="http://developers.facebook.com/docs/plugins/registration" />
  #apple-store-banner
    = image_tag("app-store-banner-ipad_02.png")
  .wrapper
    #cover-bar.container_12
      %span
        Related Books
      = render :partial => 'pages/cover', :collection => @covers
    #content.container_12
      #collection-column.grid_3.alpha
        .collection-container
          %img{:src => '/images/collections-collections.png'}
          %ul
            = list_element_link('/collection/1', 'Best Of') 
            = list_element_link('/collection/1', 'Banned Books')
            = list_element_link('/collection/1', 'Autos & Bios')
            = list_element_link('/collection/1', 'Classic Classics')
            = list_element_link('/collection/1', 'English 101')
            = list_element_link('/collection/1', 'Epic Epics')
            = list_element_link('/collection/1', 'Ghost Stories')
            = list_element_link('/collection/1', 'Myth')
            = list_element_link('/collection/1', 'Philosophy')
            = list_element_link('/collection/1', 'The Presidents')
            = list_element_link('/collection/1', 'The Great Poets')
            = list_element_link('/collection/1', 'Travel')
            = list_element_link('/collection/1', 'War')
            = list_element_link('/collection/1', 'Young Readers')
          %img{:src => '/images/collections-bottom.png'}
        .author-container
          %img{:src => '/images/collections-authors.png'}
          %ul
            = list_element_link('/collection/1', 'Abraham Lincoln')
            = list_element_link('/collection/1', 'Alexandre Dumas')
            = list_element_link('/collection/1', 'Aristotle')
            = list_element_link('/collection/1', 'Arthur Conan Doyle')
            = list_element_link('/collection/1', 'Bram Stoker')
            = list_element_link('/collection/1', 'Charles Dickens')
            = list_element_link('/collection/1', 'Dante Allighieri')
            = list_element_link('/collection/1', 'Edgar Allan Poe')
            = list_element_link('/collection/1', 'Edgar Rice Borroughs')
            = list_element_link('/collection/1', 'Edward Gibbon')
            = list_element_link('/collection/1', 'F. Scott Fitzgerald')
            = list_element_link('/collection/1', 'Fyodor Dostoyevsky')
            = list_element_link('/collection/1', 'H.G. Wells')
            = list_element_link('/collection/1', ' H.P. Lovecraft')
            = list_element_link('/collection/1', 'Jack London')
            = list_element_link('/collection/1', 'James Joyce')
            = list_element_link('/collection/1', 'Jane Austen')
            = list_element_link('/collection/1', 'Jules Verne')
            = list_element_link('/collection/1', 'Lewis Carroll')
            = list_element_link('/collection/1', 'Mark Twain')
            = list_element_link('/collection/1', 'Oscar Wilde')
            = list_element_link('/collection/1', 'Plato')
            = list_element_link('/collection/1', 'Shakespeare')
            = list_element_link('/collection/1', 'The Bronte Sisters')
            = list_element_link('/collection/1', 'Voltaire')
          %img{:src => '/images/collections-bottom.png'}
      .grid_8.omega
        #current-page.grid_8.alpha.omega
          =yield
    #footer
      .container_12
        .about.grid_4.alpha
          %h4 About
          .bg
            %p
              Classicly makes the <b>public domain</b> come alive. Download <b>free books</b>, <b>read online</b>, explore <B>classic books</b>, and discover related gems- the world of free books is at your fingertips. 
            %p 
              Dozens of custom collections, hundreds of gorgeous high resolution cover- Classicly is the best way to read online around. Have an iPod, iPad, or iPhone? Sync to Free Books!
        .applications.grid_4
          %h4 Apps
          .app.grid_4.alpha.omega
            .grid_1.alpha
              %a{:href => '#'}
                %img.icon{:src => '/images/footer-books.png'}
            .grid_3.omega
              %h5 Free Books
              %span 23,469 classics to go.
              %a{:href => '#'}
                %img.link{:src => '/images/footer-iphone.png'}
              %a{:href => '#'}
                %img.link{:src => '/images/footer-ipad.png'}
          .app.grid_4.alpha.omega
            .grid_1.alpha
              %a{:href => '#'}
                %img.icon{:src => '/images/footer-audiobooks.png'}
            .grid_3.omega
              %h5 Free Audiobooks
              %span 2,947 audiobooks for $1.99.
              %a{:href => '#'}
                %img.link{:src => '/images/footer-iphone.png'}
              %a{:href => '#'}
                %img.link{:src => '/images/footer-ipad.png'}

        .connect.grid_4.omega
          %h4 Connect
          %a{:href => '#'}
            %img{:src => '/images/footer-support.png'}
          %a{:href => '#'}
            %img{:src => '/images/footer-facebook.png'}
          %a{:href => '#'}
            %img{:src => '/images/footer-twitter.png'}
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({
appId  : '191005167590330',
status : true, // check login status
cookie : true, // enable cookies to allow the server to access the session
xfbml  : true  // parse XFBML
});
</script>
