!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xml:lang" => "en", :lang => "en"}

%head
	= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
	= stylesheet_link_tag 'compiled/print.css', :media => 'print'
	/[if lt IE 8]
	= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
	= yield :title
	= javascript_include_tag 'http://www.google.com/jsapi'
	= javascript_tag do
		var theme = "flick";
		google.load("jquery", "1.4.4");
		google.load("jqueryui", "1.8.7");
		google.loader.writeLoadTag("css", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/" + theme + "/jquery-ui.css");
	= javascript_include_tag 'masonry'
	= javascript_include_tag 'application', 'global', 'rails', 'jquery.rating', 'collection-page'
	=# javascript_include_tag 'classicly-autocomplete'
	= javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
	= csrf_meta_tag
	= typekit_include_helper

	%meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}
	%meta{:name => "google-site-verification", :content => "6O3-Qaesz8YLRESdSAbCarV1HzsC4F3dh4QTrTfmsj4"}
	= yield :head

%body.bp.showgrid
	#fb-root
	#header
		.wrap
			.top
				#logo
					%a{:href => '/'}
						= image_tag 'logo.png'
				#nav
					%ul
						%li
							= link_to 'Collections', '/audiobook-collections'
						%li
							= link_to 'Authors', '/audiobook-authors'
						%li
							= link_to 'Books', '/'
						%li
							= link_to 'Blog', '/blog'
				#search
					= form_tag search_url, :method => :get do
						= text_field_tag "term", nil, :placeholder => 'Search', :tabIndex => 1
						= hidden_field_tag 'type', 'audiobook'
						%button{:name => 'commit', :type => 'submit', :value => 'search_submit'}
			.bottom
	#content
		#left-column
			= yield
		#right-column
			.row.audiobooks
				%p.popular
					Popular
				.cover-with-title-here.small
					.stable
						.spinner
				.cover-with-title-here.tiny
					.stable
						.spinner
				.cover-with-title-here.tiny
					.stable
						.spinner
				.links
					= link_to 'See more popular audiobooks', '/best-of-audiobooks'
					= link_to "Browse collections", '/audiobook-collections'
					= link_to "Browse authors", '/audiobook-authors'
	#bottom-shadow
	#footer
		.centering
			.about
				%h4 About
				.bg
					%p
						Classicly makes the <b>public domain</b> come alive. Download <b>free books</b>, <b>read online</b>, explore <B>classic books</b>, and discover related gems- the world of free books is at your fingertips. 
					%p 
						Dozens of custom collections, hundreds of gorgeous high resolution cover- Classicly is the best way to read online around. Have an iPod, iPad, or iPhone? Sync to Free Books!
			.applications
				%h4 Apps
				.app
					= link_to image_tag('footer-books.png', :class => "icon"), "http://itunes.apple.com/us/app/free-books-23-469-classics/id317776727?mt=8"
					%h5 Free Books
					%span 23,469 classics to go.
					= link_to image_tag('footer-iphone.png', :class => "link"), "http://itunes.apple.com/us/app/free-books-23-469-classics/id317776727?mt=8"
					= link_to image_tag('footer-ipad.png', :class => "link"), "http://itunes.apple.com/us/app/free-books-23-469-classics/id364612911?mt=8"
				.app.grid_4.alpha.omega
					.grid_1.alpha
						= link_to image_tag('footer-audiobooks.png', :class => "icon"), "http://itunes.apple.com/us/app/free-audiobooks-2-947-classic/id352615816?mt=8"
					.grid_3.omega
						%h5 Free Audiobooks
						%span 2,947 audiobooks for $1.99.
						= link_to image_tag('footer-iphone.png', :class => "link"), "http://itunes.apple.com/us/app/free-audiobooks-2-947-classic/id352615816?mt=8"
						= link_to image_tag('footer-ipad.png', :class => "link"), "http://itunes.apple.com/us/app/free-audiobooks-2-947-classics/id379861611?mt=8"
			.connect.grid_4.omega
				%h4 Connect
				= link_to image_tag('footer-support.png'), "http://getsatisfaction.com/spreadsong/products/spreadsong_classicly"
				= link_to image_tag('footer-facebook.png'), "http://www.facebook.com/pages/Classicly/193128150712368"
				= link_to image_tag('footer-twitter.png'), "http://twitter.com/#!/classiclybooks"
		.collection-names-list
			=image_tag 'footer-collections-top.png'
			.collections
				- for collection in @collections_for_footer
					= content_tag :span, link_to(collection.name, seo_path(collection)), :class => 'linky'
			=image_tag 'footer-collections-bottom.png'
				
= javascript_include_tag 'covers-global'
:javascript
	// initialize the environment for JS
	RAILS_ENV = "#{Rails.env}";
	// initialize Facebook
	FB.init({
		appId  : '#{Facebook::APP_ID}',
		status : true, // check login status
		cookie : true, // enable cookies to allow the server to access the session
		xfbml  : true  // parse XFBML
	});

