!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xml:lang" => "en", :lang => "en"}

%head
  = typekit_include_helper
  = yield :title
  %meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}
  %meta{:name => "google-site-verification", :content => "6O3-Qaesz8YLRESdSAbCarV1HzsC4F3dh4QTrTfmsj4"}
  
  = stylesheet_link_tag 'main', :media => :screen
  = stylesheet_link_tag 'grid', :media => :screen
  = stylesheet_link_tag 'moreLess', :media => :screen
  = stylesheet_link_tag 'jqueryui', :media => :screen
  = stylesheet_link_tag 'jquery.rating', :media => :screen
  
  = javascript_include_tag 'jquery.min'
  = javascript_include_tag 'jquery.metadata', 'application', 'jqueryui', 'rails', 'jquery.condense', 'jquery.rating'
  = javascript_include_tag 'collection-page' #responds to the login  from facebook
  = javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
  = csrf_meta_tag
  = yield :head
%body
  #fb-root
  %div{:style => 'display:none'}
    #login-form
  #header
    .container_12
      .grid_2.alpha
        %a#logo{:href => '/'}
        %h2 free books from<br />the public domain
      .grid_5
        = search_form(search_url, @search)
      = render 'shared/profile_image_in_header', :current_login => current_login
  %a{:href => "http://itunes.apple.com/us/app/free-books-23-469-classics/id364612911?mt=8", :target => "_blank"}
    #apple-store-banner
  .wrapper
    #cover-bar.container_12
      = yield :related_books
    #content.container_12
      #collection-column.grid_3.alpha
        .collection-container
          = image_tag '/images/collections-collections.png'
          %ul
            = render :partial => 'shared/collection_list_element', :collection => @genre_collections, :as => :collection
          = image_tag  '/images/collections-bottom.png'
        .author-container
          = image_tag '/images/collections-authors.png'
          %ul
            = render :partial => 'shared/collection_list_element', :collection => @author_collections, :as => :collection
          = image_tag '/images/collections-bottom.png'
      .grid_8.omega
        #current-page.grid_9.alpha.omega
          = yield
    = render 'shared/footer'
  <script src="//d1nu2rn22elx8m.cloudfront.net/performable/pax/0HuiG9.js" type="text/javascript"></script>


:javascript
  var RAILS_ENV = "#{Rails.env}";
  FB.init({
  appId  : '#{Facebook::APP_ID}',
  status : true, // check login status
  cookie : true, // enable cookies to allow the server to access the session
  xfbml  : true  // parse XFBML
  });

:javascript
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));

:javascript
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "spreadsong";
  feedback_widget_options.placement = "left";
  feedback_widget_options.color = "#222";
  feedback_widget_options.style = "idea";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options)
  
<script src="//d1nu2rn22elx8m.cloudfront.net/performable/pax/0HuiG9.js"
type="text/javascript"></script>

<!-- Include MixPanelscript: -->
<script type="text/javascript">
var mp_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
document.write(unescape("%3Cscript src='" + mp_protocol + "api.mixpanel.com/site_media/js/api/mixpanel.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<!-- Initialize it with MixPanel project token -->
<script type="text/javascript">
try {
var mpmetrics = new MixpanelLib("b6f94d510743ff0037009f3a1be605c2");
} catch(err) {
var null_fn = function () {};
var mpmetrics = { 
track: null_fn, 
track_funnel: null_fn, 
register: null_fn, 
register_once: null_fn,
register_funnel: null_fn,
identify: null_fn
};
}
</script>
= yield :scripts
