!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xml:lang" => "en", :lang => "en"}

	%head
		= include_stylesheets :common
		/[if lt IE 8]
		= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
		= yield :title
		= javascript_include_tag 'http://www.google.com/jsapi'
		= javascript_tag do
			var theme = "flick";
			google.load("jquery", "1.4.4");
			google.load("jqueryui", "1.8.7");
			google.loader.writeLoadTag("css", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/" + theme + "/jquery-ui.css");
		= include_javascripts :main
		= javascript_include_tag 'covers-for-collections'
		<meta property="fb:admins" content="24611995" />
		=# javascript_include_tag 'classicly-autocomplete'
		= javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
		= csrf_meta_tag
		= typekit_include_helper

		%meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}
		<meta name="msvalidate.01" content="15B64C4C2ACD1A23F62F20544A16C9FD" />
		<meta name="google-site-verification" content="C5mTYYrvRIWakzKx-n0y_qIWok9wPTkrEamcd3EIcKI" />

		= yield :head

	%body.bp
		#header
			.wrap
				.top
					#logo
						%a{:href => '/'}
							= image_tag 'logo.png'
					#nav
						%ul
							%li
								.left
								%a{:href => '/collections'} Collections
								.right
							%li
								.left
								%a{:href => '/authors'} Authors
								.right
							%li
								.left
								%a{:href => '/audiobooks'} Audiobooks
								.right
							%li
								.left
								%a.blog{:href => '/blog'} Blog
								.right

					#search
						= form_tag search_url, :method => :get do
							= text_field_tag "term", nil, :placeholder => 'Search', :tabIndex => 1
							%button{:name => 'commit', :type => 'submit', :value => 'search_submit'}
				.bottom
		#content
			#left-column
				= yield
			#right-column
				.row
					%p.popular
						Popular
						.cover-with-title-here.small
							.stable
								= cover_image_link @popular_books[0], 2
							.text
								%span.title
									= @popular_books[0].pretty_title
								%span.type
									Book
						.cover-with-title-here.tiny
							.stable
								= cover_image_link @popular_books[1], 2
							.text
								%span.title
									= @popular_books[1].pretty_title
								%span.type
									Book
						.cover-with-title-here.tiny
							.stable
								= cover_image_link @popular_books[2], 2
							.text
								%span.title
									= @popular_books[2].pretty_title
								%span.type
									Book
					.links
						= link_to 'See more popular books', '/best-of'
						= link_to "Browse collections", '/collections'
						= link_to "Browse authors", '/authors'
		#bottom-shadow
		= render :partial => "shared/footer"
#fb-root
<script>
window.fbAsyncInit = function() {FB.init({appId: '#{Facebook::APP_ID}', status: true, cookie: true, xfbml: true});};
(function() {var e = document.createElement('script'); e.async = true;e.src = document.location.protocol + 	'//connect.facebook.net/en_US/all.js';document.getElementById('fb-root').appendChild(e);}());
</script>


:javascript
	$(function(){
		$('.cover-with-title-here').children('.stable').children('a').children('img').fadeIn(1000);
		$('.cover-with-title-here').children('.text').fadeIn(1000);
		$(window).load(function(){
			window.location = $('.download-link').attr('href');
		});
	});
:javascript
	// initialize the environment for JS
	RAILS_ENV = "#{Rails.env}";

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-21890797-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	(function() {
	var p = document.createElement('script');
	p.type = 'text/javascript'; p.async = true;
	p.src = '//d2f7h8c8hc0u7y.cloudfront.net/performable/pax/0HuiG9.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(p, s);
	})();