!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", :lang => "en"}

%head
  %meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}

  = stylesheet_link_tag 'reset.css', :media => :screen
  = stylesheet_link_tag 'sliders.css', :media => :screen
  = stylesheet_link_tag 'reader.css', :media => :screen

  = javascript_include_tag 'jquery.min', 'jquery.json-2.2.min', 'rails'
  = javascript_include_tag 'http://www.google.com/jsapi'
  = javascript_tag do
    google.load("jqueryui", "1.8.14");

  = javascript_include_tag 'reader/reader', 'reader/shortcut', 'reader/sliders', 'reader/webUI'
  -# load facebook js:
  = javascript_include_tag "http://connect.facebook.net/en_US/all.js"

  = csrf_meta_tag
%body.container_12
  = render :partial => '/shared/connect_with_facebook_bar'
  <script type="text/javascript">
  var _kmq = _kmq || [];
  function _kms(u){
  setTimeout(function(){
  var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
  s.src = u; f.parentNode.insertBefore(s, f);
  }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/95fd99a5f08a7e3b66a3ec13482c021a3fe30872.1.js');
  </script>
  #reader_box
    .loading_box
      .error_box An error has occured. Please try to reload page.
    #library_button
      .button
        %span.left
        = link_to 'Back to Library', '/library'
        %span.right
    .header
    - unless @bookmarked
      #bookmark_tag
        = link_to image_tag('reader_sepia_bookmark.png'), '#'
        .tooltip
          Create a bookmark to save your place!
    - else
      #bookmark_ribbon
        = link_to image_tag('reader/reader_bookmark_ribbon.png'), '#'
    .text_box{:data_message => "#{ @book_page.id }"}
      = yield
    %div{:class => 'big_navigation right'}
      .box
        ▶
    %div{:class => 'big_navigation left'}
      .box
        ◀
    .navigation
      .slider_wrap
        .slider
#fb-root

= yield :scripts


= javascript_include_tag "http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"


:javascript
  
  FB.init({
  appId  : '#{Facebook::APP_ID}',
  status : true, // check login status
  cookie : true, // enable cookies to allow the server to access the session
  xfbml  : true  // parse XFBML
  });

  // initialize the environment for JS
  RAILS_ENV = "#{Rails.env}";

  // Gogle Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21890797-1']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  // Performable
  (function() {
  var p = document.createElement('script');
  p.type = 'text/javascript'; p.async = true;
  p.src = '//d2f7h8c8hc0u7y.cloudfront.net/performable/pax/0HuiG9.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(p, s);
  })();

  $( '#bookmark_tag a' ).tooltip({
    tip: '.tooltip',
    effect: 'fade',
    fadeOutSpeed: 100,
    predelay: 400,
    position: 'top left',
    offset: [ -25, -750]
  });

<script type="text/javascript">var _kiq = _kiq || [];</script>
<script type="text/javascript" src="//s3.amazonaws.com/ki.js/3822/3dB.js" async="true"></script>

