!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", :lang => "en"}

%head
  %meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}

  = stylesheet_link_tag 'reset.css', :media => :screen
  = stylesheet_link_tag 'sliders.css', :media => :screen
  = stylesheet_link_tag 'reader.css', :media => :screen

  = javascript_include_tag 'jquery.min', 'jqueryui', 'jquery.json-2.2.min', 'rails'
  = javascript_include_tag 'reader/reader.js', 'reader/shortcut.js', 'reader/sliders.js'

  = csrf_meta_tag
%body.container_12
  #reader_box
    .loading_box
      .error_box An error has occured. Please try to reload page.
    #library_button
      .button
        = link_to 'Back to Library', '/library'
    .header
    #bookmark_tag
      = link_to image_tag('reader_sepia_bookmark.png'), '#'
    .text_box
      = yield
    %div{:class => 'big_navigation right'}
      .box
        ▶
    %div{:class => 'big_navigation left'}
      .box
        ◀
    .navigation
      .slider_wrap
        .slider

= yield :scripts
:javascript
  // initialize the environment for JS
  RAILS_ENV = "#{Rails.env}";

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21890797-1']);
  _gaq.push(['_trackPageview']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  (function() {
  var p = document.createElement('script');
  p.type = 'text/javascript'; p.async = true;
  p.src = '//d2f7h8c8hc0u7y.cloudfront.net/performable/pax/0HuiG9.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(p, s);
  })();

<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(66432025);
(function() {
var s = document.createElement('script');
s.type = 'text/javascript';
s.async = true;
s.src = '//static.getclicky.com/js';
( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66432025ns.gif" /></p></noscript>
<script type="text/javascript">var _kiq = _kiq || [];</script>
<script type="text/javascript" src="//s3.amazonaws.com/ki.js/3822/3dB.js" async="true"></script>



