!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", :lang => "en"}

%head
  %meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}

  = stylesheet_link_tag 'reset.css', :media => :screen
  = stylesheet_link_tag 'sliders.css', :media => :screen
  = stylesheet_link_tag 'reader.css', :media => :screen

  = javascript_include_tag 'jquery.min', 'jqueryui', 'jquery.json-2.2.min', 'rails'
  = javascript_include_tag 'reader.js', 'shortcut.js', 'sliders.js'
  
  = csrf_meta_tag  
%body.container_12
  #reader_box
    .loading_box
    .panel
      = image_tag 'html-reader/bookmark_icon.png', :width => 20, :alt => 'bookmark'
    .header
    .text_box
      = yield
    %div{:class => 'big_navigation right'}
      .box
        ▶
    %div{:class => 'big_navigation left'}
      .box
        ◀
    .navigation
      .prev_page
        ◀
      .slider_wrap
        .slider
      .next_page
        ▶

= yield :scripts
