!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xml:lang" => "en", :lang => "en"}

%head
	= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
	= stylesheet_link_tag 'compiled/print.css', :media => 'print'
	/[if lt IE 8]
	= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
	= yield :title
	= javascript_include_tag 'http://www.google.com/jsapi'
	= javascript_tag do
		var theme = "flick";
		google.load("jquery", "1.4.4");
		google.load("jqueryui", "1.8.7");
		google.loader.writeLoadTag("css", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/" + theme + "/jquery-ui.css");
	= javascript_include_tag 'masonry.js'
	= include_javascripts :main_without_jquery_nor_jquery_ui, :collections
	= javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
	= javascript_include_tag 'classicly-autocomplete'

	= csrf_meta_tag
	= typekit_include_helper

	%meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}
	%meta{:name => "google-site-verification", :content => "6O3-Qaesz8YLRESdSAbCarV1HzsC4F3dh4QTrTfmsj4"}
	= yield :head

%body.bp.showgrid
	#content
		.top_nav
			#logo
				= image_tag 'logo-new.png'
			#searchbox
				= form_tag search_url, :method => :get do
					= content_tag(:div, nil, :class => 'search-bg') do
						= text_field_tag "term", @search
						= hidden_field_tag 'page_slug'
			#navigator
				%ul
					%li
						collections
					%li
						Authors
					%li
						My Library
					%li
						Blog
		= yield
	#footer
		.centering
			.about
				%h4 About
				.bg
					%p
						Classicly makes the <b>public domain</b> come alive. Download <b>free books</b>, <b>read online</b>, explore <B>classic books</b>, and discover related gems- the world of free books is at your fingertips. 
					%p 
						Dozens of custom collections, hundreds of gorgeous high resolution cover- Classicly is the best way to read online around. Have an iPod, iPad, or iPhone? Sync to Free Books!
			.applications
				%h4 Apps
				.app
					= link_to image_tag('footer-books.png', :class => "icon"), "#"
					%h5 Free Books
					%span 23,469 classics to go.
					= link_to image_tag('footer-iphone.png', :class => "link"), "#"
					= link_to image_tag('footer-ipad.png', :class => "link"), "#"
				.app.grid_4.alpha.omega
					.grid_1.alpha
						= link_to image_tag('footer-audiobooks.png', :class => "icon"), "#"
					.grid_3.omega
						%h5 Free Audiobooks
						%span 2,947 audiobooks for $1.99.
						= link_to image_tag('footer-iphone.png', :class => "link"), "#"
						= link_to image_tag('footer-ipad.png', :class => "link"), "#"
			.connect.grid_4.omega
				%h4 Connect
				= link_to image_tag('footer-support.png'), "#"
				= link_to image_tag('footer-facebook.png'), "#"
				= link_to image_tag('footer-twitter.png'), "#"
