!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xml:lang" => "en", :lang => "en"}

%head
	= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
	= stylesheet_link_tag 'compiled/print.css', :media => 'print'
	/[if lt IE 8]
	= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
	= yield :title
	%meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}
	%meta{:name => "google-site-verification", :content => "6O3-Qaesz8YLRESdSAbCarV1HzsC4F3dh4QTrTfmsj4"}	
	
	= javascript_include_tag 'http://www.google.com/jsapi'
	= javascript_tag do
		var theme = "flick";
		google.load("jquery", "1.4.4");
		google.load("jqueryui", "1.8.7");
		google.loader.writeLoadTag("css", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/" + theme + "/jquery-ui.css");

	= include_javascripts :main_without_jquery_nor_jquery_ui, :collections
	= javascript_include_tag 'http://connect.facebook.net/en_US/all.js'

	= csrf_meta_tag
	= typekit_include_helper
	= yield :head

%body.bp.showgrid
	#content
		.top_nav
			#logo
				= image_tag 'logo-new.png'
			#searchbox
				= search_form(search_url, @search)
			#navigator
				%ul
					%li
						collections
					%li
						Authors
					%li
						My Library
					%li
						Blog
		= yield

:javascript
	var publicApiUrl = "http://6wfx.api.indextank.com";
	var indexName = "classicly_staging";
	var elementId = "#term";
	var remoteSource = publicApiUrl + "/v1/indexes/" + indexName + "/autocomplete";
	
	google.setOnLoadCallback(function() {
	$(function() {

	var sourceCallback = function( request, responseCallback ) {
	  $.ajax( {
	    url: remoteSource,
	    dataType: "jsonp",
	    data: { query: request.term },
	    success: function( data ) { responseCallback( data.suggestions ); }
	  } );
	};

	var selectCallback = function( event, ui ) { 
	  event.target.value = ui.item.value;
	  event.target.form.submit();
	};

	$( elementId ).autocomplete( {
	  source: sourceCallback,
	  minLength: 2,
	  delay: 100,
	  select: selectCallback
	} );

	}); // $ fun
	}); // g callback