!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xml:lang" => "en", :lang => "en"}

  %head
    = include_stylesheets :common
    = stylesheet_link_tag "custom-theme/jquery-ui-1.8.14.custom.css"
    = yield :title

    = javascript_include_tag 'http://www.google.com/jsapi'
    :javascript
      var theme = "flick";
      google.load("jquery", "1.4.4");
      google.load("jqueryui", "1.8.14");      

    = javascript_include_tag 'http://connect.facebook.net/en_US/all.js', 'http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js', 'https://apis.google.com/js/plusone.js', 'http://cdn.optimizely.com/js/8407410.js' 
    = include_javascripts :main
    %meta{property: 'fb:admins', content: 24611995} 
    = csrf_meta_tag
    - if Rails.env.test?
      = javascript_tag '$.ajaxSetup({async: false});'
    = typekit_include_helper
    - if response.status == 404
      :css
        div.error-message {
          width: 100%;
          margin: 3em auto;
          padding-top: 5em ;
        }
          
        div.error-message p {
          font-size: 26px;
          margin-top: 25px;
        }
      
        div.error-message p.code {
          font-size: 50px;
          text-align: center;
          font-family: 'Dancing Script', cursive;
          color: #c9af87;
        }

    %meta{'http-equiv' => 'content-type', :content => 'text/html;charset=utf-8'}
    %meta{name: 'msvalidate.01', content: '15B64C4C2ACD1A23F62F20544A16C9FD'}
    %meta{name: 'google-site-verification', content: 'C5mTYYrvRIWakzKx-n0y_qIWok9wPTkrEamcd3EIcKI'}

    = yield :head

  %body.bp
    = render 'shared/connect_with_facebook_bar'
    
    :javascript
      var _kmq = _kmq || [];
      function _kms(u){
        setTimeout(function(){
          var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
          s.src = u; f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/95fd99a5f08a7e3b66a3ec13482c021a3fe30872.1.js');

      (function() {
        var p = document.createElement('script');
        p.type = 'text/javascript'; p.async = true;
        p.src = '//d2f7h8c8hc0u7y.cloudfront.net/performable/pax/0HuiG9.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(p, s);
      })();

    = yield :notifications

    #site-container

      #fb-root
      #header
        .wrap
          #logo
            %a{:href => '/'}
              = image_tag 'new_logo_classicly.png'
          #search
            = form_tag search_url, :id => 'indexTankForm' do
              = text_field_tag "term", nil, :placeholder => 'Search Books and Authors', :tabIndex => 1
              %button{:name => 'commit', :type => 'submit', :value => 'search_submit'}
          #nav
            %ul
              = top_nav_link 'Authors', '/authors'
              = top_nav_link 'Collections', '/collections'

          - unless current_login
            #signin
              = link_to "Sign In", "#"
          - else
            #profile-pic
              = link_to facebook_image(current_login.fb_connect_id), '/library'

      .clear
      #content
        = yield :upsell
        #left-column
          = yield
        - if @show_right_nav
          = render 'shared/sidebar'
        .clear
      = render 'shared/footer'
= render 'shared/javascripts'
