!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xml:lang" => "en", :lang => "en"}

  %head
    = include_stylesheets :common
    = stylesheet_link_tag "custom-theme/jquery-ui-1.8.14.custom.css"
    = yield :title
    = javascript_include_tag 'http://www.google.com/jsapi'
    = javascript_tag do
      var theme = "flick";
      google.load("jquery", "1.4.4");
      google.load("jqueryui", "1.8.14");
      -#google.loader.writeLoadTag("css", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/" + theme + "/jquery-ui.css");

    = include_javascripts :main
    = javascript_include_tag "http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"
    <meta property="fb:admins" content="24611995" />
    = javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
    = csrf_meta_tag
    = typekit_include_helper

    %meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}
    <meta name="msvalidate.01" content="15B64C4C2ACD1A23F62F20544A16C9FD" />
    <meta name="google-site-verification" content="C5mTYYrvRIWakzKx-n0y_qIWok9wPTkrEamcd3EIcKI" />
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>


    = yield :head

  %body.bp
    <script type="text/javascript">
    (function() {
    var p = document.createElement('script');
    p.type = 'text/javascript'; p.async = true;
    p.src = '//d2f7h8c8hc0u7y.cloudfront.net/performable/pax/0HuiG9.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(p, s);
    })();
    </script>
    
    = yield :notifications

    #site-container

      #fb-root
      #header
        .wrap
          .top
            #logo
              %a{:href => '/'}
                = image_tag 'logo.png'
            #nav
              %ul
                %li
                  %a{:href => '/collections'} Collections
                %li
                  %a{:href => '/authors'} Authors
                %li
                  %a.blog{:href => '/blog'} Blog
                %li
                  %a{:href => '/library'} Library

            #search
              = form_tag search_url, :id => 'indexTankForm' do
                = text_field_tag "term", nil, :placeholder => 'Search', :tabIndex => 1
                %button{:name => 'commit', :type => 'submit', :value => 'search_submit'}
          .bottom
      #content
        #left-column
          = yield
        #right-column
          .social
            <g:plusone></g:plusone>
            <a href="http://twitter.com/classiclyapp" class="twitter-follow-button" data-show-count="false">Follow @classiclyapp</a>
            <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
            <fb:like href="http://www.facebook.com/pages/Classicly/193128150712368" send="true" layout="button_count" width="200" show_faces="true" font=""></fb:like>
          .row
            %p.popular
              Popular
            - for book in @popular_books
              .cover.small
                = cover_image_link_with_text(book, 2)
            -  for collection in @popular_collections
              %a.collection_link{:href => "#{collection.cached_slug}"}
                .collection-with-title-here
                  - for book in collection.books.limit(6)
                    .cover.mini
                      = cover_tag book, 1
                  = text_for_collection(collection)
            .links
              = link_to 'See more popular books', '/best-of'
              = link_to "Browse collections", '/collections'
              = link_to "Browse authors", '/authors'

      #bottom-shadow
      = render :partial => 'shared/footer'
      #bottom-notification-bar{:style => 'display:none'}

      %div.clear

:javascript
  // initialize the environment for JS
  RAILS_ENV = "#{Rails.env}";
  // initialize Facebook
  FB.init({
  appId  : '#{Facebook::APP_ID}',
  status : true, // check login status
  cookie : true, // enable cookies to allow the server to access the session
  xfbml  : true  // parse XFBML
  });

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21890797-1']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);

  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  (function() {
  var p = document.createElement('script');
  p.type = 'text/javascript'; p.async = true;
  p.src = '//d2f7h8c8hc0u7y.cloudfront.net/performable/pax/0HuiG9.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(p, s);
  })();

<script src="//d2f7h8c8hc0u7y.cloudfront.net/performable/pax/0HuiG9.js" type="text/javascript"></script>

<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(66432025);
(function() {
var s = document.createElement('script');
s.type = 'text/javascript';
s.async = true;
s.src = '//static.getclicky.com/js';
( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>

<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66432025ns.gif" /></p></noscript>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName('script')[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0010/3575.js";
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66432025ns.gif" /></p></noscript>
<script type="text/javascript">var _kiq = _kiq || [];</script>
<script type="text/javascript" src="//s3.amazonaws.com/ki.js/3822/3dB.js" async="true"></script>
<!-- Start of HubSpot Logging Code  -->
<script type="text/javascript" language="javascript">
var hs_portalid=115533; 
var hs_salog_version = "2.00";
var hs_ppa = "classicly.app10.hubspot.com";
document.write(unescape("%3Cscript src='" + document.location.protocol + "//" + hs_ppa + "/salog.js.aspx' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- End of HubSpot Logging Code -->
