!!! XML
!!! strict
%html{:xmlns => "http://www.w3.org/1999/html", "xmlns:og" => "http://ogp.me/ns#", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xml:lang" => "en", :lang => "en"}

%head
	= include_stylesheets :common
	/[if lt IE 8]
	= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
	= yield :title
	= javascript_include_tag 'http://www.google.com/jsapi'
	= javascript_tag do
		var theme = "flick";
		google.load("jquery", "1.4.4");
		google.load("jqueryui", "1.8.7");
		google.loader.writeLoadTag("css", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/" + theme + "/jquery-ui.css");
	= include_javascripts :main
	<meta property="fb:admins" content="24611995" />
	=# javascript_include_tag 'classicly-autocomplete'
	= javascript_include_tag 'http://connect.facebook.net/en_US/all.js'
	= csrf_meta_tag
	= typekit_include_helper

	%meta{"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}
	%meta{:name => "google-site-verification", :content => "6O3-Qaesz8YLRESdSAbCarV1HzsC4F3dh4QTrTfmsj4"}
	= yield :head

%body.bp.showgrid
	<script type="text/javascript">
	(function() {
	var p = document.createElement('script');
	p.type = 'text/javascript'; p.async = true;
	p.src = '//d2f7h8c8hc0u7y.cloudfront.net/performable/pax/0HuiG9.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(p, s);
	})();
	</script>

	#fb-root
	#header
		.wrap
			.top
				#logo
					%a{:href => '/'}
						= image_tag 'logo.png'
				#nav
					%ul
						%li
							.left
							%a{:href => '/collections'} Collections
							.right
						%li
							.left
							%a{:href => '/authors'} Authors
							.right
						%li
							.left
							%a{:href => '/audiobooks'} Audiobooks
							.right
						%li
							.left
							%a.blog{:href => '/blog'} Blog
							.right


				#search
					= form_tag search_url, :method => :get do
						= text_field_tag "term", nil, :placeholder => 'Search', :tabIndex => 1
						%button{:name => 'commit', :type => 'submit', :value => 'search_submit'}
			.bottom
	#content
		#left-column
			= yield
		#right-column
			<a href="http://twitter.com/classiclyapp" class="twitter-follow-button" data-show-count="false">Follow @classiclyapp</a>
			<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
			<fb:like href="http://www.facebook.com/pages/Classicly/193128150712368" send="true" layout="button_count" width="450" show_faces="true" font=""></fb:like>
			.row
				%h4 Popular
				.cover-with-title-here.small
					.stable
						.spinner
				.cover-with-title-here.small
					.stable
						.spinner
				.cover-with-title-here.small
					.stable
						.spinner
				.cover-with-title-here.small
					.stable
						.spinner
				.links
					= link_to 'See more popular books', '/best-of'
					= link_to "Browse collections", '/collections'
					= link_to "Browse authors", '/authors'
	#bottom-shadow
	= render :partial => 'shared/footer'
#bottom-notification-bar{:style => 'display:none'}
	.content
		.left
			%span Unlimited book downloads. 
			%span Saved bookmarks. 
			%span Sync to iPhone and iPad.
		.center
			%span Register today! It's free.
		.right
			%a.button.kiss.green
				%span Create a Classicly account.

:javascript
	// initialize the environment for JS
	RAILS_ENV = "#{Rails.env}";
	// initialize Facebook
	FB.init({
	appId  : '#{Facebook::APP_ID}',
	status : true, // check login status
	cookie : true, // enable cookies to allow the server to access the session
	xfbml  : true  // parse XFBML
	});
	
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-21890797-1']);
	_gaq.push(['_trackPageview']);
	_gaq.push(['_trackPageLoadTime']);
	
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-21890797-1']);
	_gaq.push(['_trackPageview']);
	_gaq.push(['_trackPageLoadTime']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	(function() {
	var p = document.createElement('script');
	p.type = 'text/javascript'; p.async = true;
	p.src = '//d2f7h8c8hc0u7y.cloudfront.net/performable/pax/0HuiG9.js';
	var s = document.getElementsByTagName('script')[0];
	s.parentNode.insertBefore(p, s);
	})();
	
<script src="//d2f7h8c8hc0u7y.cloudfront.net/performable/pax/0HuiG9.js" type="text/javascript"></script>

<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(66432025);
(function() {
var s = document.createElement('script');
s.type = 'text/javascript';
s.async = true;
s.src = '//static.getclicky.com/js';
( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66432025ns.gif" /></p></noscript>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName('script')[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0010/3575.js";
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

<script type="text/javascript">
var clicky_site_ids = clicky_site_ids || [];
clicky_site_ids.push(66432025);
(function() {
var s = document.createElement('script');
s.type = 'text/javascript';
s.async = true;
s.src = '//static.getclicky.com/js';
( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
})();
</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66432025ns.gif" /></p></noscript>
<script type="text/javascript">var _kiq = _kiq || [];</script>
<script type="text/javascript" src="//s3.amazonaws.com/ki.js/3822/3dB.js" async="true"></script>
